<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="Jobs, L'aine Jogs" name="keywords"/>
    <meta content="Synergy OSL" name="author"/>
    <meta content="" name="robots"/>
    <meta content="xjobs -  Job Portal" name="description"/>
    <meta content="xjobs -  Job Portal" property="og:title"/>
    <meta content="xjobs -  Job Portal" property="og:description"/>
    <meta content="xjobs -  Job Portal" property="og:image"/>
    <meta content="telephone=no" name="format-detection">

    <!-- FAVICONS ICON -->
    <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon"/>

    <!-- PAGE TITLE HERE -->
    <title>Job Seekers Subscription | xjobs </title>

    <!-- MOBILE SPECIFIC -->
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Styles -->
    <link href="/css/job/bootstrap-grid.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/icons.css" rel="stylesheet">
    <link href="/css/job/animate.min.css" rel="stylesheet">
    <link href="/css/job/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/chosen.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/colors/colors.css" rel="stylesheet" type="text/css"/>


    <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
          integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" rel="stylesheet">
    <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css"
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
          integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" rel="stylesheet">
    <link class="skin" rel="stylesheet" th:href="@{/css/sweet-alert.min.css}" type="text/css"/>
    <link href="/css/notify.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../plugins/tagcomplete/tagcomplete.css" rel="stylesheet" type="text/css">
    <style>
        .my-tooltip {
            position: relative;

        }

        .my-tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .my-tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        .my-tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        .img_advert {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 100%;
            height: 300px;
            max-width: 100%;

            display: block;

            margin-left: auto;

            margin-right: auto;
            width: 80%;
        }

        .img_advert:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
    </style>

</head>
<body>

<div class="page-loading">
    <img alt="" src="/images/loader.jpg"/>
    <span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">

    <div th:insert="menu-admin :: header"></div>
    <section class="overlape">
        <div class="block no-padding">
            <div class="parallax scrolly-invisible no-parallax lozad" data-src="/images/bnr1.jpg"
                 data-velocity="-.1"
                 style="background:  repeat scroll 50% 422.28px transparent;"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3 th:if="${user != null}" th:text="'Welcome ' + ${user.fullName}">Welcome </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="block remove-bottom" id="subPage">
            <div class="parallax scrolly-invisible"
                 data-velocity="-.2"
                 style="background: url(/images/resource/parallax5.jpg) repeat scroll 50% 422.28px transparent;"></div>
            <!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading">
                            <h2>xjobs.com.gh Packages (Candidates)</h2>
                        </div><!-- Heading -->
                        <div class="plans-sec">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="pricetable style2">
                                        <div class="pricetable-head">
                                            <h3>Optional Services</h3>
                                            <h2 th:if="${optional !=null}"><i>Ghc</i>[(${#numbers.formatDecimal(optional.amout,
                                                0,'COMMA',0,'POINT')})]</h2>
                                            <h2 th:if="${optional ==null}"><i>Ghc</i>0</h2>
                                            <span>Unlimited</span>
                                        </div><!-- Price Table -->
                                        <ul>
                                            <div th:each="user : ${optionalMsg}" th:remove="tag">
                                                <li th:text="${user}">Assessment</li>
                                            </div>

                                        </ul>

                                        <a href="#" id="optionalSup" th:data-id="${optional.id}"
                                           th:if="${optional != null}" title="">
                                            <i class="la la-pencil"></i> EDIT</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="pricetable active style2">
                                        <div class="pricetable-head">
                                            <h3>Basic (Free) Package</h3>
                                            <h2 th:if="${basic != null}"><i>Ghc</i>[(${#numbers.formatDecimal(basic.amout,
                                                0,'COMMA',0,'POINT')})]</h2>
                                            <h2 th:if="${basic == null}"><i>Ghc</i>0</h2>
                                            <span>Unlimited</span>
                                        </div><!-- Price Table -->
                                        <ul>
                                            <div th:each="user : ${basicMsg}" th:remove="tag">
                                                <li th:text="${user}">Assessment</li>
                                            </div>

                                        </ul>

                                        <a href="#" id="basicSup" th:data-bind-group="${basic.id}"
                                           th:data-id="${basic.id}"
                                           th:if="${basic != null}" title="">
                                            <i class="la la-pencil"></i> EDIT</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="pricetable style2">
                                        <div class="pricetable-head">
                                            <h3>Premium Subscribers</h3>
                                            <h2 th:if="${premium != null}"><i>Ghc</i>[(${#numbers.formatDecimal(premium.amout,
                                                0,'COMMA',0,'POINT')})]</h2>
                                            <h2 th:if="${premium == null}"><i>Ghc</i>0</h2>
                                            <span>1 Year</span>
                                        </div><!-- Price Table -->
                                        <ul>
                                            <div th:each="user : ${premiumMsg}" th:remove="tag">
                                                <li th:text="${user}">Assessment</li>
                                            </div>
                                        </ul>
                                        <a href="#" id="premiumSub" th:data-id="${premium.id}"
                                           th:if="${premium != null}"
                                           title=""> <i class="la la-pencil"></i> EDIT</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="simple-text">
                            <h3>How may we help you?</h3>
                            <span>We're here to help. Check out our <a href="/faq">FAQs</a>, send us an email at <a
                                    href="/faq" id="adabraka-email">email</a> or call us at  <a href="#" id="comp-tel">  555-5555</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="site-footer" style="margin-top:40px">
        <div th:insert="footer-1 :: footer"></div>

    </footer>


</div>
<div aria-hidden="true" aria-labelledby="deleteLabel" class="modal fade modal-bx-info editor" id="basicSubModal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <form id="paymentForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteLabel"> Subscription</h4>
                    <span aria-label="Close" class="close" data-dismiss="modal"><i class="la la-close"></i></span>

                </div>
                <div class="modal-body">

                    <div class="material-datatables" id="printTable">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <span class="font-weight-700">Subscription Price *</span>
                                    <input class="form-control" id="subscriptionPrice" placeholder="Price" type="text"/>
                                    <input id="subscriptionId" type="hidden" value="0"/>
                                    <input id="subscriptionName" type="text"/>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="col-md-12 form-field cfield">
                                    <span class="font-weight-700">Subscription Options *</span>

                                    <input class="form-control tags_input" id="subscriptionMessage" name="message"
                                           title="Please comma separated list of Subscription Options"
                                           type="text"/>
                                    <i><span class="text-muted text-gray-dark ">Please type comma separated list of Subscription Options</span></i>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12 form-field">
                                    <span class="font-weight-700">No of Job Preference *</span>
                                    <input class="form-control cfield" id="subscriptionPriceJBCount"
                                           placeholder="No of Job Preference"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12 form-field">
                                    <input id="subscriptionCVCount" type="hidden" value="0"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn-success" data-dismiss="modal" type="button">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="account-popup-area signin-popup-box">
    <div class="account-popup">
        <span class="close-popup"><i class="la la-close"></i></span>
        <h3>User Login</h3>

        <div class="select-user">

        </div>
        <form autocomplete="on" class="tab-pane active col-12 p-a0 " id="tggl" method='POST'
              name='f' th:action="@{/j_spring_security_check}">
            <div class="cfield">
                <input name='username' placeholder="Username" required="required" type="text"/>
                <i class="la la-user"></i>
            </div>
            <div class="cfield">
                <input name="password" placeholder="********" type="password"/>
                <i class="la la-key"></i>
            </div>
            <p class="remember-label">
                <input id="cb1" name="rememberme" type="checkbox"><label for="cb1">Remember me</label>
            </p>

            <a class="white-text forget-pass pull-right m-t15" data-toggle="tab" href="#forgot-password"><i
                    class="fa fa-unlock-alt"></i> Forgot Password?</a>
            <button type="submit">Login</button>
        </form>

        <form action="#" class="tab-pane col-12 p-a0" id="forgot-password" method="post" role="form"
              th:action="@{/forgot}">

            <p>We will send you an email to reset your password. </p>
            <div class="cfield">
                <input id="form23" name="email" placeholder="Your email" required="required" type="text">
                <i class="la la-envelope"></i>
            </div>

            <div class="text-left">
                <a class="btn-link back" data-toggle="tab" href="#login">Back to login</a>
                <button class="btn btn-indigo btn-rounded pull-right">Submit</button>
            </div>

        </form>

    </div>
</div>

<!-- LOGIN POPUP -->


<script src="/js/job/jquery.min.js" type="text/javascript"></script>
<script data-cfasync="false" src="/css/job/email-decode.min.js"></script>
<script src="/js/job/modernizr.js" type="text/javascript"></script>
<script src="/js/job/cript.js" type="text/javascript"></script>
<script src="/js/job/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/job/wow.min.js" type="text/javascript"></script>
<script src="/js/job/slick.min.js" type="text/javascript"></script>
<script src="/js/job/parallax.js" type="text/javascript"></script>
<script src="/js/job/select-chosen.js" type="text/javascript"></script>
<script src="/js/jquery.lazy.min.js" type="text/javascript"></script>
<script th:src="@{/js/sweetAlert.js}"></script>
<script src="/js/notify.min.js"></script>
<div th:insert="login-template :: login"></div>
<script src="/js/login.js"></script>
<script src="/js/jquery.number.min.js" type="text/javascript"></script>
<script src="../../plugins/tagcomplete/tagcomplete.js"></script><!-- TAGCOMPLETE -->
<script type="text/javascript">
    $(function () {

        var data = [
            'css',
            'html',
            'php',
            'jquery'
        ];

        $(".tags_input").tagComplete({
            keylimit: 1,
            hide: false,
            autocomplete: {
                data: data
            }
        });

        $("#forgot-password").toggle(1000);
        var url88 = "/find-address";

        $.get(url88, function (data, status) {
            console.log(data.hodEmail);
            $('#comp-tel').html(data.companyAddress);
            $('#adabraka-email').html(data.hodEmail);
        });

        $('.lozad').Lazy();

        $('#btnSave2').on("click", function (event) {
            //stop submit the form, we will post it manually.

            event.preventDefault();

            var name = $('#requesterFullName').val();
            var email = $('#requesterEmail').val();
            var tel = $('#requesterPhone').val();
            var serviceType = $('#serviceType').val();

            // name,String email, String tel 
            var url = "/create-cv-request?name=" + name + "&email=" + email + "&tel=" + tel + "&serviceType=" + serviceType;

            var modal = $('#cvConfirmModal');

            // disabled the submit button
            $("#btnSave2").prop("disabled", true);

            $.ajax({
                type: "POST",
                url: url,

                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    if (data) {
                        modal.modal('hide');
                        swal({
                            title: "Success!",
                            text: "Your request has been submitted Successfully, We will get back to you shortly!",
                            type: "success",
                            icon: "success",
                            button: "Ok!"
                        }).then((value) => {
                            $("#btnSave").prop("disabled", false);
                        });
                    } else {
                        swal({
                            title: "Unsuccessful!",
                            text: "Sorry, we couldn't submit your request, Try again next time!",
                            type: "error",
                            icon: "danger",
                            button: "Ok!"
                        });

                        $("#btnSave").prop("disabled", false);
                        modal.modal('hide');
                    }
                },
                error: function (e) {
                    swal({
                        title: "Unsuccessful!",
                        text: "Sorry, we couldn't submit your request, Try again next time!",
                        type: "error",
                        icon: "danger",
                        button: "Ok!"
                    });
                    $("#btnSave").prop("disabled", false);
                }

            });

        });

        $("#empForm").toggle(1000);

        $("#empForm").click(function () {
            $("#jobSeekerForm").toggle(1000);
            $("#empForm").toggle(1000);
        });
        $("#jobSeekerForm").click(function () {
            $("#jobSeekerForm").toggle(1000);
            $("#empForm").toggle(1000);
        });

        $("#basicSup").on('click', function (e) {
            e.preventDefault();
            var dataId = $(this).attr("data-id");
            var url = `/find-subscription-by-id/${dataId}`;

            $("#subscriptionName").val("Seeker Basic");


            var modal = $("#basicSubModal").modal();
            $.get(url, function (data) {

                if (data.id !== null) {

                    $("#subscriptionId").val(dataId);
                    $("#subscriptionName").val(data.name);
                    $("#subscriptionMessage").val(data.message);
                    $("#subscriptionPrice").val(data.amout);
                    if (data.cvCount === null) {
                        $("#subscriptionCVCount").val(0);
                    } else {
                        $("#subscriptionCVCount").val(data.cvCount);
                    }

                    if (data.jbCount === null) {
                        $("#subscriptionPriceJBCount").val(0);
                    } else {
                        $("#subscriptionPriceJBCount").val(data.jbCount);
                    }
                } else {
                    $("#subscriptionCVCount").val(0);
                    $("#subscriptionPriceJBCount").val(0);
                    $("#subscriptionPrice").val(0);
                    $("#subscriptionId").val(0);
                }

            })


            modal.show();
        });

        $("#premiumSub").on('click', function (e) {
            e.preventDefault();
            var dataId = $(this).attr("data-id");
            var url = `/find-subscription-by-id/${dataId}`;

            $("#subscriptionName").val("Seeker Premium");


            var modal = $("#basicSubModal").modal();
            $.get(url, function (data) {

                if (data.id !== null) {

                    $("#subscriptionId").val(dataId);
                    $("#subscriptionName").val(data.name);
                    $("#subscriptionMessage").val(data.message);
                    $("#subscriptionPrice").val(data.amout);
                    if (data.cvCount === null) {
                        $("#subscriptionCVCount").val(0);
                    } else {
                        $("#subscriptionCVCount").val(data.cvCount);
                    }

                    if (data.jbCount === null) {
                        $("#subscriptionPriceJBCount").val(0);
                    } else {
                        $("#subscriptionPriceJBCount").val(data.jbCount);
                    }
                } else {
                    $("#subscriptionCVCount").val(0);
                    $("#subscriptionPriceJBCount").val(0);
                    $("#subscriptionPrice").val(0);
                    $("#subscriptionId").val(0);
                }

            })


            modal.show();
        });

        $("#optionalSup").on('click', function (e) {
            e.preventDefault();
            var dataId = $(this).attr("data-id");
            var url = `/find-subscription-by-id/${dataId}`;


            $("#subscriptionName").val("Seeker Optional");


            var modal = $("#basicSubModal").modal();
            $.get(url, function (data) {

                if (data.id !== null) {

                    $("#subscriptionId").val(dataId);
                    $("#subscriptionName").val(data.name);
                    $("#subscriptionMessage").val(data.message);
                    $("#subscriptionPrice").val(data.amout);
                    if (data.cvCount === null) {
                        $("#subscriptionCVCount").val(0);
                    } else {
                        $("#subscriptionCVCount").val(data.cvCount);
                    }

                    if (data.jbCount === null) {
                        $("#subscriptionPriceJBCount").val(0);
                    } else {
                        $("#subscriptionPriceJBCount").val(data.jbCount);
                    }
                } else {
                    $("#subscriptionCVCount").val(0);
                    $("#subscriptionPriceJBCount").val(0);
                    $("#subscriptionPrice").val(0);
                    $("#subscriptionId").val(0);
                }

            })


            modal.show();
        });


        $(".btn-success").on('click', function (e) {

            var itemId = $("#subscriptionId").val();
            var text = $("#subscriptionMessage").val();
            var price = parseFloat($("#subscriptionPrice").val());
            var cvcount = parseFloat($("#subscriptionCVCount").val());
            var jbcount = parseFloat($("#subscriptionPriceJBCount").val());
            var name = $("#subscriptionName").val();

            //String message,double price,Integer cvcount, Integer jbcount,

            var url = `/modify-subscription/${itemId}?message=${text}&price=${price}&cvcount=${cvcount}&jbcount=${jbcount}&name=${name}`;

            $.ajax({
                type: "POST",
                url: url,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {

                    switch (data) {

                        case "SUCCESS":
                            swal({
                                title: "Success!",
                                text: "Your subscription updated successfully!",
                                type: "success",
                                icon: "success",
                                button: "Ok!"
                            });
                            break;
                        case "FAILED":
                            swal({
                                title: "Unsuccessful!",
                                text: "Sorry, We couldn't update your subcription!",
                                type: "error",
                                icon: "danger",
                                button: "Ok!"
                            });
                            break;

                        case "INVALID-USER":
                            swal({
                                title: "INVALID-USER!",
                                text: "Sorry, We couldn't update your subcription!",
                                type: "error",
                                icon: "danger",
                                button: "Ok!"
                            });
                            break;

                        case "INVALID-NAME":
                            swal({
                                title: "INVALID-NAME!",
                                text: "Sorry, We couldn't update your subcription!",
                                type: "error",
                                icon: "danger",
                                button: "Ok!"
                            });
                            break;

                        case "INVALID-SUBSCRIPTION":
                            console.log("Invalid Subscription");
                            break;

                        case "ERROR":
                            console.log("Unknown Error");
                            break;

                    }
                },
                error: function (e) {
                    console.log("Sorry, We couldn find Items");
                }
            });

        })


    });//End of document.ready

</script>

</body>
</html>

