<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Hostel /</span> <span
                class="text-muted fw-light"> Payments /</span> Add Payment</h4>

        <!-- <div class="row"> -->
        <!-- Display headings -->
        <!-- <div class="col-lg"> -->


        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="row">
                    <div class="col-xl">
                        <div class="card mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h5 class="mb-0">Add a Payment</h5>

                            </div>
                            <div class="card-body">
                                <form>
                                    <!-- <div class="mb-3">
                                      <label class="form-label" for="basic-default-fullname">Floor Name</label>
                                      <input type="text" class="form-control" id="basic-default-fullname" placeholder="Please enter the name of the floor . . . " />
                                    </div> -->
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-default-email">Transaction ID</label>
                                        <div class="input-group input-group-merge">
                                            <input class="form-control" type="number"/>
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-default-email">Student ID</label>
                                        <div class="input-group input-group-merge">
                                            <input class="form-control" type="number"/>
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-default-email">Staff ID</label>
                                        <div class="input-group input-group-merge">
                                            <input class="form-control" type="number"/>
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-default-email">Bed ID</label>
                                        <div class="input-group input-group-merge">
                                            <input class="form-control" type="number"/>
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-default-email">Moment</label>
                                        <div class="input-group input-group-merge">
                                            <input class="form-control" type="time"/>
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-default-email">Date created</label>
                                        <div class="input-group input-group-merge">
                                            <input class="form-control" type="date"/>
                                        </div>

                                    </div>


                                    <button class="btn btn-primary" type="submit">Add</button>
                                    <button class="btn btn-primary" type="submit">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
            <div class="mb-2 mb-md-0">
                ©
                <script>
                    document.write(new Date().getFullYear());

                </script>
                , made with ❤️ by
                <a class="footer-link fw-bolder" href="https://themeselection.com" target="_blank">ThemeSelection</a>
            </div>
            <div>
                <a class="footer-link me-4" href="https://themeselection.com/license/" target="_blank">License</a>
                <a class="footer-link me-4" href="https://themeselection.com/" target="_blank">More Themes</a>

                <a
                        class="footer-link me-4"
                        href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                        target="_blank"
                >Documentation</a
                >

                <a
                        class="footer-link me-4"
                        href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                        target="_blank"
                >Support</a
                >
            </div>
        </div>
    </footer>
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
</div>