<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="Jobs, L'aine Jogs" name="keywords"/>
    <meta content="Synergy OSL" name="author"/>
    <meta content="" name="robots"/>
    <meta content="xjobs -  Job Portal" name="description"/>
    <meta content="xjobs -  Job Portal" property="og:title"/>
    <meta content="xjobs -  Job Portal" property="og:description"/>
    <meta content="xjobs -  Job Portal" property="og:image"/>
    <meta content="telephone=no" name="format-detection">

    <!-- FAVICONS ICON -->
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon"/>

    <!-- PAGE TITLE HERE -->
    <title>Job Seekers3 | xjobs </title>

    <!-- MOBILE SPECIFIC -->
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/css/job/bootstrap-grid.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/job/icons.css}">
    <link rel="stylesheet" th:href="@{/css/job/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/job/style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/job/js-details.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/job/responsive.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/job/chosen.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/job/colors/colors.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/job/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/job/font-awesome.min.css}" type="text/css"/>

    <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
          integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" rel="stylesheet">
    <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css"
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
          integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" rel="stylesheet">
    <style>
        .search-box {
            position: absolute;
            top: 1%;
            left: 23%;
            transform: translate (-50%, -50%);
            background: #2f3640;
            height: 60px;
            border-radius: 40px;
            padding: 10px;
            width: 440px
        }

        .search-btn {
            float: right;
            color: #e84118;
            width: 20px;
            height: 40px;
            border-radius: 70px;
            background: #2f3640;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .search-txt {
            border: none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            color: white;
            font-size: 16px;
            transition: 0.4s;
            line-height: 40px;
            width: 0px;
        }

        .search-box:hover > .search-txt {
            width: 240px;
            padding: 0 6px;
        }

        .search-box:hover > .search-btn {
            background: white;
        }
    </style>
</head>
<body>

<div class="page-loading">
    <img alt="" th:src="@{/images/loader.jpg}"/>
    <span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">

    <div th:insert="menu-admin :: header"></div>

    <section class="overlape">
        <div class="block no-padding">
            <div class="parallax scrolly-invisible no-parallax lozad" data-velocity="-.1"
                 style="background: repeat scroll 50% 422.28px transparent;"
                 th:data-src="@{/images/slide1.jpg}"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3 th:if="${user != null}" th:text="'Welcome ' + ${user.fullName}">Welcome </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape">
                    <aside class="col-lg-3 column border-right">
                        <div class="widget">
                            <div class="tree_widget-sec">
                                <ul>

                                    <li><a href="/manage-jobs" title=""><i class="la la-file-text"></i> Manage Jobs</a>
                                    </li>
                                    <li><a href="/jobs" title=""><i class="la la-search"></i> Search Jobs</a></li>
                                    <li><a href="/rec-post-jobs" title="Post a New Job"><i class="la la-briefcase"></i>Post
                                        a New Job</a></li>
                                    <li><a href="/posted-jobs" title="All Posted Jobs"><i class="la la-money"></i>
                                        Posted Jobs</a></li>
                                    <li><a href="/users" title="All Users"><i class="la la-users activ"></i> System
                                        Users</a></li>
                                    <li><a href="/assigned-posted-jobs" title="Jobs assigned to recruiters "><i
                                            class="la la-paper-plane"></i>Assigned jobs </a></li>
                                    <li><a href="/filled-jobs" title=""><i class="la la-user"></i>Filled jobs</a></li>
                                    <li><a href="/search-seeker" title=""><i class="la la-flash"></i>Job Alerts </a>
                                    </li>
                                    <li><a href="/rec-profile"><i class="la la-user-o"></i> Profile</a></li>
                                    <li><a href="/assigned-posted-jobs"><i class="la la-briefcase"></i> Recruiter
                                        Assigned Jobs</a></li>
                                    <li><a href="/resume-request-ls"><i class="la la-bell-o"></i> Resumé Request</a>
                                    </li>
                                    <li><a href="/setup-address" title=""><i class="la la-book"></i>Setup-address</a>
                                    </li>
                                    <li><a href="/job-categories" title=""><i class="lab la-squarespace"></i>Job
                                        Category</a></li>
                                    <li><a href="/employers" title=""><i class="las la-building"></i>Employers</a></li>
                                    <li><a href="/work-shop" title=""><i class="las la-universal-access"></i>Career
                                        Workshop</a></li>
                                    <li><a href="/change-password" title=""><i class="la la-lock"></i>Change
                                        Password</a></li>
                                    <li><a href="/logout" title="logout of the system"><i class="la la-unlink"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="manage-jobs-sec">
                                <h3>Job Seekers </h3>


                                <form action="/search-seeker" id="fnd">
                                    <div class="search-box">
                                        <input id="searchTerm" name="q" placeholder="Search here...." style="border: none;
                                                                                            background: none;
                                                                                            outline: none;
                                                                                            float: left;
                                                                                            padding: 0;
                                                                                            color: white;
                                                                                            font-size: 16px;
                                                                                            transition: 0.4s;
                                                                                            line-height: 40px;
                                                                                            width: 80%;"
                                               th:value="${searchTerm}"
                                               type="text"/>
                                        <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>


                                <table>
                                    <thead>
                                    <tr>
                                        <td>Name</td>
                                        <td>Current company</td>
                                        <td>Salary</td>
                                        <td>Qualification</td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="country: ${joblist}">
                                        <td>
                                            <div class="table-list-title">
                                                <h3><a href="#" th:href="@{/candidate-profile(id=${country.id})}"
                                                       title="">[(${country.fullName})]</a></h3>
                                                <span><i class="la la-map-marker"></i> [(${country.currentLocation})], [(${country.email})]</span>
                                            </div>
                                        </td>
                                        <td class="application text-primary">
                                            <span> [(${country.currentCompany})]</span>
                                        </td>

                                        <td>
                                            <span>Min Sal: [(${#numbers.formatDecimal(country.expMinSalary, 0,'COMMA',2,'POINT')})]   </span><br/>
                                            <span>Max Sal: [(${#numbers.formatDecimal(country.expectedSalary, 0,'COMMA',2,'POINT')})] </span>
                                        </td>
                                        <td>
                                            <span class="status active">[(${country.highestQualification})]</span>
                                        </td>
                                        <td>
                                            <ul class="action_job">

                                                <li><span>Blacklist </span><a class="blacklist" href="#"
                                                                              th:href="@{/findSeeker/{id}(id=${country.id})}"
                                                                              title="Blacklist"><i
                                                        class="la la-times-circle" style="color:red"></i></a></li>
                                                <li><span>View Details </span><a href="#"
                                                                                 th:href="@{/candidate-profile/{transactionId}(id=${country.transactionId})}"
                                                                                 title="View Details"> <i
                                                        class="la la-eye"></i></a></li>
                                                <li><span>View Cover Letter</span><a class="open-coverletter" href="#"
                                                                                     th:href="@{/findSeeker/{id}(id=${country.id})}"
                                                                                     title=""><i
                                                        class="la la-file-text"></i></a></li>
                                                <li><span>Download CV </span><a class="download-cv" href="#"
                                                                                th:href="@{/downloadCv/{id}(id=${country.id})}"
                                                                                title=""><i
                                                        class="la la-cloud-download"></i></a></li>
                                            </ul>
                                        </td>

                                    </tr>


                                    </tbody>
                                </table>
                                <div th:insert="pagination :: paginationbar"></div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-9 column">

                        <br/><br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="site-footer" style="margin-top:40px">
        <div th:insert="footer-1 :: footer"></div>

    </footer>

</div>


<div aria-hidden="true" aria-labelledby="deleteLabel" class="modal fade" id="deleteConfirmModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteLabel">Blacklist Candidate</h4>
            </div>
            <form id="blacklistForm" method="post">
                <div class="modal-body">
                    <p>You have selected to blacklist this candidate (<em id="seekerName" style="color:red"></em>).</p>
                    <p>
                        If this was the action that you wanted to do,
                        please type your comment and confirm your choice, or cancel and return to the page.
                    </p>

                    <span class="pf-title">Comment</span>
                    <div class="pf-field">
                        <textarea id="msg" maxlength="50" name="msg" placeholder="Type your comment here" required
                                  rows="3"></textarea>
                        <input id="seekerId" type="hidden"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-danger" id="deleteConfirm" type="submit">Blacklist</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="deleteLabel" class="modal fade" id="coverLetter" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteLabel"> Candidate Cover Letter</h4>
            </div>

            <div class="modal-body">
                <span class="pf-title">Cover Letter</span>
                <div class="pf-field">
                    <textarea id="cv" maxlength="50" name="cv" placeholder="Cover Letter" readonly required
                              rows="3"></textarea>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" type="button">Close</button>
            </div>

        </div>
    </div>
</div>
<script th:src="@{/js/job/jquery.min.js}" type="text/javascript"></script>
<script data-cfasync="false" th:src="@{/css/job/email-decode.min.js}"></script>
<script th:src="@{/js/job/modernizr.js}" type="text/javascript"></script>
<script th:src="@{/js/job/cript.js}" type="text/javascript"></script>
<script th:src="@{/js/job/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/job/wow.min.js}" type="text/javascript"></script>
<script th:src="@{/js/job/slick.min.js}" type="text/javascript"></script>
<script th:src="@{/js/job/parallax.js}" type="text/javascript"></script>
<script th:src="@{/js/job/select-chosen.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.lazy.min.js}" type="text/javascript"></script>
<script th:src="@{/js/job/jquery.scrollbar.min.js}" type="text/javascript"></script>
<script th:src="@{/js/job/app-jobseekers.js}" type="text/javascript"></script>


<script th:src="@{/js/sweetAlert.js}"></script><!-- SORTCODE FUCTIONS  -->


</body>
</html>

