<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<header th:fragment="header">


    <!-- header -->


    <!-- main header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar clearfix">
            <div class="container clearfix">
                <!-- website logo -->
                <div class="logo-header mostion">
                    <a href="/"><img alt="" class="logo lozad" data-src="/images/laine.jpg" style="border-radius: 24px"></a>
                </div>
                <!-- nav toggle button -->
                <!-- nav toggle button -->
                <button aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation" class="navbar-toggler collapsed navicon justify-content-end"
                        data-target="#navbarNavDropdown"
                        data-toggle="collapse" type="button">
                    <span></span>
                    <span></span>
                    <span></span>

                </button>
                <!-- extra nav -->

                <div class="extra-nav">
                    <div class="extra-cell">
                        <a class="badge badge-success" sec:authorize="isAuthenticated()" style="color: white">
                            Logged-in as <span sec:authentication="name"></span></a>
                        <a href="/login" rel="bookmark" sec:authorize="!isAuthenticated()" title="login"><i
                                class="fa fa-lock"></i> login </a>
                        <a href="/logout" rel="bookmark" sec:authorize="isAuthenticated()" title="logout"><i
                                class="fa fa-lock"></i> logout </a>
                        <a class="site-button" href="/register" sec:authorize="!isAuthenticated()"><i
                                class="fa fa-user"></i> Register</a>

                    </div>
                </div>

                <!-- main nav -->
                <div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown">

                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">Setup <i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="/setup-address" title=""><i class="la la-briefcase"></i> Setup Address</a>
                                </li>
                                <li><a href="/work-shop" title=""><i class="las la-universal-access"></i> Career
                                    Workshop</a></li>
                                <li><a href="/job-categories" title=""><i class="lab la-squarespace"></i>Job
                                    Category</a></li>
                                <li><a href="/users" title="All Users"><i class="la la-users activ"></i> System
                                    Users</a></li>
                            </ul>

                        </li>
                        <li>
                            <a href="#">Jobs<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="/all-jobs" title=""><i class="las la-home"></i> All Jobs</a></li>
                                <li><a href="/manage-jobs" title=""><i class="la la-file-text"></i> Manage Jobs</a></li>
                                <li><a href="/jobs" title=""><i class="la la-search"></i> Search Jobs</a></li>
                                <li><a href="/rec-post-jobs" title="Post a New Job"><i class="la la-briefcase"></i>Post
                                    a New Job</a></li>
                                <li><a href="/posted-jobs" title="All Posted Jobs"><i class="la la-money"></i> Posted
                                    Jobs</a></li>

                                <li><a href="/assigned-posted-jobs" title="Jobs assigned to recruiters "><i
                                        class="la la-paper-plane"></i>Assigned jobs </a></li>
                                <li><a href="/filled-jobs" title=""><i class="la la-user"></i> Filled jobs</a></li>
                                <li><a href="/job-alert-list" title=""><i class="la la-flash"></i> Job Alerts </a></li>
                                <li><a href="/assigned-posted-jobs"><i class="la la-briefcase"></i> Recruiter Assigned
                                    Jobs</a></li>
                                <li><a href="/resume-request-ls"><i class="la la-bell-o"></i> Resume Request</a></li>

                                <li><a href="/settings" title=""><i class="la la-gears"></i> Settings</a></li>
                                <li><a href="/change-password" title=""><i class="la la-lock"></i> Change Password</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#"> Job Seekers<i class="fa fa-chevron-down"></i></a>

                            <ul class="sub-menu">
                                <li><a href="/recruiter/job-seekers" title=""><i class="las la-address-book"></i>
                                    View</a></li>
                                <li><a href="/recruiter/search-cv" title=""> <i class="la la-search"></i> Search CV</a>
                                </li>
                                <li><a href="/browse-by-shortlisted" title=""> <i class="la la-search"></i> Shortlisted
                                    Applicants</a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <a class="site-button" href="/adverts" rel="bookmark" title="logout"><i
                                    class="fa fa-address-card"></i> Create Advert </a>
                        </li>


                        <li class="showlogin hidden-lg">
                            <a href="/logout" rel="bookmark" title="logout"><i class="fa fa-lock"></i> login </a>
                        </li>
                        <li class="showlogin hidden-lg">
                            <a href="/register"><i class="fa fa-user"></i> Sign Up</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- main header END -->

    <!-- header END -->


</header>
</body>
</html>
