<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="Jobs, L'aine Jogs" name="keywords"/>
    <meta content="Synergy OSL" name="author"/>
    <meta content="" name="robots"/>
    <meta content="xjobs -  Job Portal" name="description"/>
    <meta content="xjobs -  Job Portal" property="og:title"/>
    <meta content="xjobs -  Job Portal" property="og:description"/>
    <meta content="xjobs -  Job Portal" property="og:image"/>
    <meta content="telephone=no" name="format-detection">

    <!-- FAVICONS ICON -->
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon"/>

    <!-- PAGE TITLE HERE -->
    <title> Candidate Profile | xjobs </title>

    <!-- MOBILE SPECIFIC -->
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Styles -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" rel="stylesheet">
    <link href="/css/job/bootstrap-grid.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/icons.css" rel="stylesheet">
    <link href="/css/job/animate.min.css" rel="stylesheet">
    <link href="/css/job/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/chosen.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/colors/colors.css" rel="stylesheet" type="text/css"/>


    <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
          integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" rel="stylesheet">
    <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css"
          rel="stylesheet">
    <link class="skin" href="/css/sweet-alert.min.css" rel="stylesheet" type="text/css"/>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
          integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" rel="stylesheet">
    <style>
        .tooltipe {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }

        .tooltipe .tooltiptext {

            max-width: 100px;
            padding: 15px;
            min-height: 30px;
            background: #fff;
            visibility: hidden;
            border: 1px solid black;
            color: #000;
            text-align: center;
            border-radius: 6px;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            word-wrap: break-word;
        }

        .tooltipe:hover .tooltiptext {
            visibility: visible;
        }
    </style>


</head>
<body>

<div class="page-loading">
    <img alt="" src="/images/loader.jpg"/>
    <span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">

    <div th:insert="menu :: header"></div>

    <section class="overlape">
        <div class="block no-padding">
            <div class="parallax scrolly-invisible no-parallax lozad" data-src="/images/bnr1.jpg"
                 data-velocity="-.1"
                 style="background: repeat scroll 50% 422.28px transparent;"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="skills-btn">

                                            <a href="#" th:text="${seeker.gender}?:' Gender'" title="Primary Contact">Photoshop</a>
                                            <a href="#" th:text="${seeker.maritalStatus}?:' No Status'"
                                               title="Marital Status">Illustrator</a>
                                            <a href="#" th:style="'border-color:'+ ${blacklisted ? 'red':'green'}"
                                               th:text="'Blacklisted: '+ ${blacklisted ? 'Yes':'No'}"
                                               title="Marital Status">Illustrator</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="action-inner">
                                            <a href="#" id="savProfile" title=""><i class="la la-paper-plane"></i>Save
                                                Resume</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="overlape">
        <div class="block remove-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cand-single-user">
                            <div class="share-bar circle">
                                <a class="share-google" href="#" title=""><i class="la la-google"></i></a><a
                                    class="share-fb"
                                    href="#"
                                    title=""><i
                                    class="fa fa-facebook"></i></a><a class="share-twitter" href="#" title=""><i
                                    class="fa fa-twitter"></i></a>
                            </div>
                            <div class="can-detail-s">
                                <div class="cst">
                                    <img src="/images/blacklist.png" th:hidden="${not blacklisted}"
                                         th:title="${seeker.blacklistComment}"/>
                                    <div class="tooltipe">[(${blacklisted ? 'Blacklisted':''})]
                                        <span class="tooltiptext">
                                                                            [(${seeker.blacklistComment})]
                                                                        </span>
                                    </div>
                                </div>

                                <h3>[(${seeker.fullName})]</h3>
                                <span><i>[(${seeker.proffesionalTitile})]</i>  </span>
                                <input id="seekerId" th:value="${seeker.id}" type="hidden"/>

                                <p><i class="la la-map-marker"></i> [(${seeker.homeTown})] /
                                    [(${seeker.countryOfOrigin})]</p>
                            </div>
                            <div class="download-cv">
                                <a href="#" th:href="@{/downloadCv/{fileId}(fileId=${seeker.id})}" title="">Download CV
                                    <i class="la la-download"></i></a>

                            </div>
                        </div>
                        <ul class="cand-extralink">
                            <li><a href="#about" title="">About</a></li>
                            <li><a href="#education" title="">Education</a></li>
                            <li><a href="#experience" title="">Work Experience</a></li>
                            <li><a href="#portfolio" title="">Portfolio</a></li>
                            <li><a href="#skills" title="">Professional Skills</a></li>
                            <li><a href="#awards" title="">Awards</a></li>
                        </ul>
                        <div class="cand-details-sec">
                            <div class="row">
                                <div class="col-lg-8 column">
                                    <div class="cand-details" id="about">
                                        <h2>Candidates About</h2>
                                        <p th:utext="${seeker.profileSummary}"></p>
                                        <p class="m-b0">[(${seeker.description})]</p>

                                        <div class="edu-history-sec" id="education">
                                            <h2>Education</h2>
                                            <div th:each="edu:${edulist}" th:remove="tag"
                                                 th:unless="${#lists.isEmpty(wlist)}">

                                                <div class="edu-history">
                                                    <i class="la la-graduation-cap"></i>
                                                    <div class="edu-hisinfo">
                                                        <h3>[(${edu.institutionName})]</h3>
                                                        <i>[(${edu.yearStarted})] - [(${edu.yearGraduated})]</i>
                                                        <span>Qualication Received <i>[(${edu.qualificationReceived})]</i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="edu-history-sec" id="experience">
                                            <h2>Work & Experience</h2>
                                            <div th:each="edu:${wlist}" th:remove="tag"
                                                 th:unless="${#lists.isEmpty(wlist)}">
                                                <div class="edu-history style2">
                                                    <i></i>
                                                    <div class="edu-hisinfo">
                                                        <h3>[(${edu.companyName})] <span> [(${edu.jobTitle})]</span>
                                                        </h3>
                                                        <i>[(${edu.monthStartedWork})] [(${edu.yearStartedWork})] -
                                                            [(${edu.monthStopedWork})] [(${edu.yearStartedWork})]</i>
                                                        <p>[(${edu.descriptions})]</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="mini-portfolio" id="portfolio">
                                            <h2>Portfolio</h2>
                                            <div class="mp-row">
                                                <div class="mp-col">
                                                    <div class="mportolio"><img alt="" src="/images/p1.jpg"/><a href="#"
                                                                                                                title=""><i
                                                            class="la la-search"></i></a></div>
                                                </div>
                                                <div class="mp-col">
                                                    <div class="mportolio"><img alt="" src="/images/p2.jpg"/><a href="#"
                                                                                                                title=""><i
                                                            class="la la-search"></i></a></div>
                                                </div>
                                                <div class="mp-col">
                                                    <div class="mportolio"><img alt="" src="/images/p3.jpg"/><a href="#"
                                                                                                                title=""><i
                                                            class="la la-search"></i></a></div>
                                                </div>
                                                <div class="mp-col">
                                                    <div class="mportolio"><img alt="" src="/images/p4.jpg"/><a href="#"
                                                                                                                title=""><i
                                                            class="la la-search"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-sec" id="skills">
                                            <h2>Professional Skills</h2>
                                            <div th:each="edu:${skillslist}" th:remove="tag"
                                                 th:unless="${#lists.isEmpty(skillslist)}">
                                                <div class="progress-sec">
                                                    <span>[(${edu.skill})]</span>
                                                    <div class="progressbar">
                                                        <div class="progress" style="width: 80%;"><span>[(${edu.proficiency})]%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="edu-history-sec" id="awards">
                                            <h2>Awards</h2>
                                            <div th:each="edu:${awardList}" th:remove="tag"
                                                 th:unless="${#lists.isEmpty(awardList)}">
                                                <div class="edu-history style2">
                                                    <i></i>
                                                    <div class="edu-hisinfo">
                                                        <h3>[(${edu.title})]</h3>
                                                        <i>[(${edu.fromYear})] - [(${edu.toYear})]</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="companyies-fol-sec">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 column">
                                    <div class="job-overview">
                                        <h3>Job Overview</h3>
                                        <ul>
                                            <li><i class="la la-money"></i>
                                                <h3>Expected Salary</h3><span> [(${seeker.expectedSalary})]</span></li>
                                            <li><i class="la la-mars-double"></i>
                                                <h3>Gender</h3><span>[(${seeker.gender})]</span></li>
                                            <li><i class="la la-thumb-tack"></i>
                                                <h3>Career Level</h3><span>[(${seeker.educationLevel})]</span></li>
                                            <li><i class="la la-puzzle-piece"></i>
                                                <h3>Industry</h3><span>[(${seeker.industry})]</span></li>
                                            <li><i class="la la-shield"></i>
                                                <h3>Experience</h3><span> [(${seeker.yearsOfExperience})]</span></li>
                                            <li><i class="la la-line-chart "></i>
                                                <h3>Qualification</h3><span>[(${seeker.highestQualification})]</span>
                                            </li>
                                        </ul>
                                    </div><!-- Job Overview -->
                                    <div class="quick-form-job">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="site-footer" style="margin-top:40px">
        <div th:insert="footer-1 :: footer"></div>

    </footer>

</div>

<div class="account-popup-area signin-popup-box">
    <div class="account-popup">
        <span class="close-popup"><i class="la la-close"></i></span>
        <h3>User Login</h3>
        <span>Click To Login With Demo User</span>
        <div class="select-user">
            <span>Candidate</span>
            <span>Employer</span>
        </div>
        <form>
            <div class="cfield">
                <input placeholder="Username" type="text"/>
                <i class="la la-user"></i>
            </div>
            <div class="cfield">
                <input placeholder="********" type="password"/>
                <i class="la la-key"></i>
            </div>
            <p class="remember-label">
                <input id="cb1" name="cb" type="checkbox"><label for="cb1">Remember me</label>
            </p>
            <a href="#" title="">Forgot Password?</a>
            <button type="submit">Login</button>
        </form>
        <div class="extra-login">
            <span>Or</span>
            <div class="login-social">
                <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
                <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div><!-- LOGIN POPUP -->

<div class="account-popup-area signup-popup-box">
    <div class="account-popup">
        <span class="close-popup"><i class="la la-close"></i></span>
        <h3>Sign Up</h3>
        <div class="select-user">
            <span>Candidate</span>
            <span>Employer</span>
        </div>
        <form>
            <div class="cfield">
                <input placeholder="Username" type="text"/>
                <i class="la la-user"></i>
            </div>
            <div class="cfield">
                <input placeholder="********" type="password"/>
                <i class="la la-key"></i>
            </div>
            <div class="cfield">
                <input placeholder="Email" type="text"/>
                <i class="la la-envelope-o"></i>
            </div>
            <div class="dropdown-field">
                <select class="chosen" data-placeholder="Please Select Specialism">
                    <option>Web Development</option>
                    <option>Web Designing</option>
                    <option>Art & Culture</option>
                    <option>Reading & Writing</option>
                </select>
            </div>
            <div class="cfield">
                <input placeholder="Phone Number" type="text"/>
                <i class="la la-phone"></i>
            </div>
            <button type="submit">Signup</button>
        </form>
        <div class="extra-login">
            <span>Or</span>
            <div class="login-social">
                <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
                <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div><!-- SIGNUP POPUP -->


<script src="/js/job/jquery.min.js" type="text/javascript"></script>
<script data-cfasync="false" src="css/job/email-decode.min.js"></script>
<script src="/js/job/modernizr.js" type="text/javascript"></script>
<script src="/js/job/cript.js" type="text/javascript"></script>
<script src="/js/job/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/job/wow.min.js" type="text/javascript"></script>
<script src="/js/job/slick.min.js" type="text/javascript"></script>
<script src="/js/job/parallax.js" type="text/javascript"></script>
<script src="/js/job/select-chosen.js" type="text/javascript"></script>
<script src="/js/jquery.lazy.min.js" type="text/javascript"></script>
<script src="/js/job/jquery.scrollbar.min.js" type="text/javascript"></script>

<script src="/js/sweetAlert.js"></script><!-- SORTCODE FUCTIONS  -->
<script>


    $(function () {
        $('.lozad').Lazy();
        $('#myHeader').removeClass("forsticky");

        var id = $("#seekerId").val();
        var url = "/create-jview/" + id;
        $.get(url);


        $("#savProfile").on("click", function (e) {
            e.preventDefault();


            var url = "/save-cv/" + id;
            $.ajax({
                type: "POST",
                url: url,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,

                success: function (data) {
                    if (data) {
                        swal({
                            title: "Success!",
                            text: "Your cv has been saved successfully!",
                            type: "success",
                            icon: "success",
                            button: "Ok!"
                        });
                    } else {
                        swal({
                            title: "Unsuccessful!",
                            text: "Sorry, We couldn't save your cv!",
                            type: "error",
                            icon: "danger",
                            button: "Ok!"
                        });
                    }


                },
                error: function (e) {
                    swal({
                        title: "Unsuccessful!",
                        text: "Sorry, We couldn't save your cv!",
                        type: "error",
                        icon: "danger",
                        button: "Ok!"
                    });


                }

            });
        });
    });
</script>
</body>
</html>

