<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords"/>
    <meta content="" name="author"/>
    <meta content="" name="robots"/>
    <meta content="xjobs- Job Portal" name="description"/>
    <meta content="xjobs- Job Portal" property="og:title"/>
    <meta content="xjobs- Job Portal" property="og:description"/>
    <meta content="xjobs- Job Portal" property="og:image"/>
    <meta content="telephone=no" name="format-detection">

    <!-- FAVICONS ICON -->
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon"/>

    <!-- PAGE TITLE HERE -->
    <title>xjobs- Job Portal</title>

    <!-- MOBILE SPECIFIC -->
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <!-- STYLESHEETS -->
    <link href="/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/templete.css" rel="stylesheet" type="text/css">
    <link class="skin" href="/css/skin/skin-1.css" rel="stylesheet" type="text/css">
    <link href="/css/mycss.css" rel="stylesheet" type="text/css"/>

</head>
<body id="bg">
<div class="page-wraper">
    <div id="loading-area"></div>
    <!-- header -->
    <header class="site-header mo-left header fullwidth">
        <div th:insert="header :: header"></div>
    </header>

    <!-- header END -->
    <!-- Content -->
    <div class="page-content">
        <!-- inner page banner -->
        <div class="dez-bnr-inr jobs-category overlay-black-middle lozad" data-src="/images/bnr1.jpg">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <div class="job-search-form">
                        <form>
                            <div class="input-group">
                                <input class="form-control" placeholder="Job Title, Keywords Or Company Name"
                                       type="text">
                                <input class="form-control" placeholder="City, Province Or Region" type="text">
                                <div class="input-group-prepend">
                                    <button class="site-button">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="category-jobs-info">
                        <div class="nav">
                            <ul>
                                <li class="active"><a href="/category-all-jobs">All Jobs</a></li>
                                <li><a href="/category-company-jobs">Jobs by Company</a></li>
                                <li><a href="/category-jobs">Jobs by Category</a></li>
                                <li><a href="/category-location-jobs">Jobs by Location</a></li>
                                <li><a href="/category-designations-jobs">Jobs by Designation</a></li>
                                <li><a href="/category-skill-jobs">Jobs by Skill</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
            <!-- Browse Jobs -->
            <div class="section-full content-inner jobs-category-bx">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 m-b30">
                            <div class="job-bx bg-white">
                                <div class="job-bx-title clearfix">
                                    <h6 class="text-uppercase">Browse Jobs by Locations
                                        <a class="float-right font-12 text-primary" href="javascript:void(0);">View
                                            All</a></h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                                        <a href="javascript:void(0);">
                                            <div class="city-bx align-items-end  d-flex"
                                                 style="background-image:url(images/city/pic1.jpg)">
                                                <div class="city-info">
                                                    <h5>Iraq</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                                        <a href="javascript:void(0);">
                                            <div class="city-bx align-items-end  d-flex"
                                                 style="background-image:url(images/city/pic2.jpg)">
                                                <div class="city-info">
                                                    <h5>Argentina</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                                        <a href="javascript:void(0);">
                                            <div class="city-bx align-items-end  d-flex"
                                                 style="background-image:url(images/city/pic3.jpg)">
                                                <div class="city-info">
                                                    <h5>Indonesia</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                                        <a href="javascript:void(0);">
                                            <div class="city-bx align-items-end  d-flex"
                                                 style="background-image:url(images/city/pic4.jpg)">
                                                <div class="city-info">
                                                    <h5>Gambia</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                                        <a href="javascript:void(0);">
                                            <div class="city-bx align-items-end  d-flex"
                                                 style="background-image:url(images/city/pic5.jpg)">
                                                <div class="city-info">
                                                    <h5>India</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                                        <a href="javascript:void(0);">
                                            <div class="city-bx align-items-end  d-flex"
                                                 style="background-image:url(images/city/pic6.jpg)">
                                                <div class="city-info">
                                                    <h5>Thailand</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                                        <a href="javascript:void(0);">
                                            <div class="city-bx align-items-end  d-flex"
                                                 style="background-image:url(images/city/pic7.jpg)">
                                                <div class="city-info">
                                                    <h5>Banjul</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                                        <a href="javascript:void(0);">
                                            <div class="city-bx align-items-end  d-flex"
                                                 style="background-image:url(images/city/pic8.jpg)">
                                                <div class="city-info">
                                                    <h5>Spain</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 m-b30">
                            <div class="job-bx bg-white">
                                <div class="job-bx-title clearfix">
                                    <h6 class="text-uppercase">Browse Jobs by Industries
                                        <a class="float-right font-12 text-primary" href="javascript:void(0);">View
                                            All</a></h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <ul class="category-list">
                                            <li><a href="javascript:void(0);">Android Jobs</a></li>
                                            <li><a href="javascript:void(0);">WordPress Jobs</a></li>
                                            <li><a href="javascript:void(0);">eCommerce Jobs</a></li>
                                            <li><a href="javascript:void(0);">Design Jobs</a></li>
                                            <li><a href="javascript:void(0);">Mobile Jobs</a></li>
                                            <li><a href="javascript:void(0);">MySQL Jobs</a></li>
                                            <li><a href="javascript:void(0);">SEO Jobs</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <ul class="category-list">
                                            <li><a href="javascript:void(0);">Website Design</a></li>
                                            <li><a href="javascript:void(0);">Web Development</a></li>
                                            <li><a href="javascript:void(0);">Web Design</a></li>
                                            <li><a href="javascript:void(0);">Programming Jobs</a></li>
                                            <li><a href="javascript:void(0);">JavaScript Jobs</a></li>
                                            <li><a href="javascript:void(0);">Developer Jobs</a></li>
                                            <li><a href="javascript:void(0);">Software Jobs</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 m-b30">
                            <div class="job-bx bg-white">
                                <div class="job-bx-title clearfix">
                                    <h6 class="text-uppercase">Browse Jobs by Functional Areas
                                        <a class="float-right font-12 text-primary" href="javascript:void(0);">View
                                            All</a></h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <ul class="category-list">
                                            <li><a href="javascript:void(0);">Email Marketing</a></li>
                                            <li><a href="javascript:void(0);">Lead Generation</a></li>
                                            <li><a href="javascript:void(0);">Public Relations</a></li>
                                            <li><a href="javascript:void(0);">Telemarketing Jobs</a></li>
                                            <li><a href="javascript:void(0);">Display Advertising</a></li>
                                            <li><a href="javascript:void(0);">Marketing Strategy</a></li>
                                            <li><a href="javascript:void(0);">Search Engine Marketing</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <ul class="category-list">
                                            <li><a href="javascript:void(0);">Other - Sales & Marketing</a></li>
                                            <li><a href="javascript:void(0);">Display Advertising</a></li>
                                            <li><a href="javascript:void(0);">Market & Customer</a></li>
                                            <li><a href="javascript:void(0);">Search Engine Optimization</a></li>
                                            <li><a href="javascript:void(0);">Social Media Marketing</a></li>
                                            <li><a href="javascript:void(0);">Search Engine Marketing</a></li>
                                            <li><a href="javascript:void(0);">Marketing Strategy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 m-b30">
                            <div class="job-bx clearfix bg-white">
                                <div class="job-bx-title clearfix">
                                    <h6 class="text-uppercase">Browse Jobs by Companies
                                        <a class="float-right font-12 text-primary" href="javascript:void(0);">View
                                            All</a></h6>
                                </div>
                                <ul class="company-logo-wg clearfix">
                                    <li class="brand-logo">
                                        <a href="javascript:void(0);">
                                            <img alt="" src="/images/logo/logo1.jpg">
                                        </a>
                                    </li>
                                    <li class="brand-logo">
                                        <a href="javascript:void(0);">
                                            <img alt="" src="/images/logo/logo2.jpg">
                                        </a>
                                    </li>
                                    <li class="brand-logo">
                                        <a href="javascript:void(0);">
                                            <img alt="" src="/images/logo/logo3.jpg">
                                        </a>
                                    </li>
                                    <li class="brand-logo">
                                        <a href="javascript:void(0);">
                                            <img alt="" src="/images/logo/logo4.jpg">
                                        </a>
                                    </li>
                                    <li class="brand-logo">
                                        <a href="javascript:void(0);">
                                            <img alt="" src="/images/logo/logo5.jpg">
                                        </a>
                                    </li>
                                    <li class="brand-logo">
                                        <a href="javascript:void(0);">
                                            <img alt="" src="/images/logo/logo6.jpg">
                                        </a>
                                    </li>
                                    <li class="brand-logo">
                                        <a href="javascript:void(0);">
                                            <img alt="" src="/images/logo/logo7.jpg">
                                        </a>
                                    </li>
                                    <li class="brand-logo">
                                        <a href="javascript:void(0);">
                                            <img alt="" src="/images/logo/logo8.jpg">
                                        </a>
                                    </li>
                                    <li class="brand-logo">
                                        <a href="javascript:void(0);">
                                            <img alt="" src="/images/logo/logo9.jpg">
                                        </a>
                                    </li>
                                    <li class="brand-logo">
                                        <a href="javascript:void(0);">
                                            <img alt="" src="/images/logo/logo10.jpg">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 m-b30">
                            <div class="job-bx bg-white">
                                <div class="job-bx-title clearfix">
                                    <h6 class="text-uppercase">Browse Jobs by Designations
                                        <a class="float-right font-12 text-primary" href="javascript:void(0);">View
                                            All</a></h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <ul class="category-list">
                                            <li><a href="javascript:void(0);">Email Marketing</a></li>
                                            <li><a href="javascript:void(0);">Lead Generation</a></li>
                                            <li><a href="javascript:void(0);">Public Relations</a></li>
                                            <li><a href="javascript:void(0);">Telemarketing Jobs</a></li>
                                            <li><a href="javascript:void(0);">Display Advertising</a></li>
                                            <li><a href="javascript:void(0);">Marketing Strategy</a></li>
                                            <li><a href="javascript:void(0);">Search Engine Marketing</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <ul class="category-list">
                                            <li><a href="javascript:void(0);">Other - Sales & Marketing</a></li>
                                            <li><a href="javascript:void(0);">Display Advertising</a></li>
                                            <li><a href="javascript:void(0);">Market & Customer</a></li>
                                            <li><a href="javascript:void(0);">Search Engine Optimization</a></li>
                                            <li><a href="javascript:void(0);">Social Media Marketing</a></li>
                                            <li><a href="javascript:void(0);">Search Engine Marketing</a></li>
                                            <li><a href="javascript:void(0);">Marketing Strategy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 m-b30">
                            <div class="job-bx bg-white">
                                <div class="job-bx-title clearfix">
                                    <h6 class="text-uppercase">Browse Jobs by Skills
                                        <a class="float-right font-12 text-primary" href="javascript:void(0);">View
                                            All</a></h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <ul class="category-list">
                                            <li><a href="javascript:void(0);">Android Jobs</a></li>
                                            <li><a href="javascript:void(0);">WordPress Jobs</a></li>
                                            <li><a href="javascript:void(0);">eCommerce Jobs</a></li>
                                            <li><a href="javascript:void(0);">Design Jobs</a></li>
                                            <li><a href="javascript:void(0);">Mobile Jobs</a></li>
                                            <li><a href="javascript:void(0);">MySQL Jobs</a></li>
                                            <li><a href="javascript:void(0);">SEO Jobs</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <ul class="category-list">
                                            <li><a href="javascript:void(0);">Website Design Jobs</a></li>
                                            <li><a href="javascript:void(0);">Web Development Jobs</a></li>
                                            <li><a href="javascript:void(0);">Web Design Jobs</a></li>
                                            <li><a href="javascript:void(0);">Programming Jobs</a></li>
                                            <li><a href="javascript:void(0);">JavaScript Jobs</a></li>
                                            <li><a href="javascript:void(0);">Developer Jobs</a></li>
                                            <li><a href="javascript:void(0);">Software Jobs</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Browse Jobs END -->
        </div>
        <div th:insert="modal :: modal"></div>
    </div>
    <!-- Content END-->
    <!-- Modal Box -->

    <!-- Modal Box End -->
    <!-- Footer -->
    <footer class="site-footer" style="margin-top:40px">
        <div th:insert="footer :: footer"></div>

    </footer>
    <!-- Footer END -->
    <button class="scroltop fa fa-chevron-up"></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="/plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="/plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="/plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="/plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="/plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="/plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="/plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="/plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="/js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="/js/dz.ajax.js"></script><!-- CONTACT JS  -->
</body>
</html>
