<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Jobs, L'aine Jogs"/>
    <meta name="author" content="Synergy OSL"/>
    <meta name="robots" content=""/>
    <meta name="description" content="xjobs -  Job Portal"/>
    <meta property="og:title" content="xjobs -  Job Portal"/>
    <meta property="og:description" content="xjobs -  Job Portal"/>
    <meta property="og:image" content="xjobs -  Job Portal"/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png"/>

    <!-- PAGE TITLE HERE -->
    <title>CV Restructuring | xjobs </title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="css/job/bootstrap-grid.css"/>
    <link rel="stylesheet" href="css/job/icons.css">
    <link rel="stylesheet" href="css/job/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/job/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/job/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="css/job/chosen.css"/>
    <link rel="stylesheet" type="text/css" href="css/job/colors/colors.css"/>
    <link rel="stylesheet" type="text/css" href="css/job/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/job/font-awesome.min.css"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/notify.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <link rel="stylesheet" type="text/css" href="css/templete.css">
    <link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.css">
    <link class="skin" rel="stylesheet" type="text/css" href="css/sweet-alert.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/mycss.css"/>
    <link rel="stylesheet" type="text/css" href="css/cv-request.css"/>

</head>
<body>

<div class="page-loading">
    <img src="images/loader.jpg" alt=""/>
    <span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">

    <div th:insert="index-menu2 :: index-menu2"></div>

    <section>
        <div class="block no-padding">
            <div class="container fluid" style="height:450px">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-featured-sec">
                            <div class="new-slide">
                                <img class="lozad" data-src="images/job_list.png">
                            </div>
                            <div class="job-search-sec">
                                <div class="job-search">
                                    <h1 class="text-white text-center" style="font-weight: bold"> CV Restructuring</h1>
                                    <!--									<h3 style="color:goldenrod">About Us </h3>-->
                                    <!--									<span>Find Jobs, Employment & Career Opportunities</span>-->
                                    <!--									<form action="/findJobs" >-->
                                    <!--										<div class="row">-->
                                    <!--											<div class="col-lg-7 col-md-5 col-sm-12 col-xs-12">-->
                                    <!--												<div class="job-field">-->
                                    <!--													<input type="text" placeholder="Job title, keywords or company name" name="q"/>-->
                                    <!--													<i class="la la-keyboard-o"></i>-->
                                    <!--												</div>-->
                                    <!--											</div>-->
                                    <!--											<div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">-->
                                    <!--												<div class="job-field">-->
                                    <!--                                                                                                    <input id="mylocation" type="text" placeholder="Type a location"   />-->
                                    <!--													<i class="la la-map-marker"></i>-->
                                    <!--												</div>-->
                                    <!--											</div>-->
                                    <!--											<div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">-->
                                    <!--												<button type="submit"><i class="la la-search"></i></button>-->
                                    <!--											</div>-->
                                    <!--										</div>-->
                                    <!--									</form>-->

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="block remove-bottom" id="subPage">
            <div data-velocity="-.2" data-src="jobhunt/images/resource/parallax5.jpg"
                 style="background:  repeat scroll 50% 422.28px transparent;"
                 class="parallax scrolly-invisible lozad"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container" style="padding-top: 25px; padding-bottom: 20px">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="section-full browse-job content-inner-2">
                            <div class="container">
                                <div class="job-bx bg-white">
                                    <div class="row">
                                        <div class="col-lg-8">

                                            <p>
                                                CVs are windows into the intellectual minds and potential capabilities
                                                of the bearer. If badly structured,
                                                could wrongly describe your mental competence for a particular role
                                                applied for. If terribly structured,
                                                could even make CV reviewers question the veracity of your claims as
                                                being a Graduate.
                                            </p>
                                            <p>Without proper guidance, graduates often expose this knowledge/skill gap
                                                by designing terribly bad CVs. A terribly bad CV is one which enervates
                                                your true quality as a graduate and your potential competence for the
                                                role applied for, ultimately killing the excitement of the CV reviewers
                                                in every possible way.</p>
                                            <p>Apply for our CV restructuring service and our team of consultants will
                                                help simplify your CV to produce a high quality version worthy of
                                                favorable consideration by potential employer.</p>

<!--                                            <div class="d-grid gap-2">-->
<!--                                                <a title="" class="btn btn-outline-success cvRegister" id="payment"-->
<!--                                                   th:href="${/payment/service/request/}"-->
<!--                                                >Apply Now</a>-->
<!--                                            </div>-->

                                            <div class="mt-auto job-grid">
                                                <a th:href="@{'/payment/service/request/'+${service.id}}">Apply Now</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 bg-gray">
                                            <div class="p-a25">
                                                <h6>Why should you apply for cv restructuring</h6>
                                                <ul class="list-check primary">
                                                    <li>Get relevant jobs directly in your inbox</li>
                                                    <li>Stay updated with latest opportunities</li>
                                                    <li>Be the first one to apply</li>
                                                    <li>Create up to 5 personalized job alerts</li>
                                                </ul>
                                                <div class="dez-divider bg-gray-dark"></div>
                                                <h6 class="font-14">Why xjobs</h6>
                                                <p class="m-b10"><strong class="text-black m-r10">800,000+ </strong>
                                                    Jobs</p>
                                                <p class="m-b10"><strong class="text-black m-r10">100,000+</strong> CV
                                                    searches daily</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section>
        <div class="block double-gap-top double-gap-bottom">

            <div data-velocity="-.1" style="background-repeat: repeat-y scroll 50% 422.28px transparent;"
                 data-src="images/testimonial.jpg" class="parallax scrolly-invisible layer color lozad"></div>
            <!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="simple-text-block">
                            <h3>Make a Difference with Your Online Resumé</h3>
                            <span>Your resumé in minutes with xjobs resumé assistant is ready!</span>
                            <a href="#" title="" data-toggle="modal" data-target="#cvConfirmModal" class="cvRegister"
                               id="cvRegister">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="block no-padding">
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="simple-text">
                            <h3>How may we help you?</h3>
                            <span>We're here to help. Check out our <a href="/faq">FAQs</a>, send us an email at <a
                                    id="adabraka-email" href="/faq">email</a> or call us at  <a href="#" id="comp-tel">  555-5555</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="site-footer">
        <div th:insert="footer-1 :: footer"></div>

    </footer>


</div>
<div class="modal fade modal-bx-info editor" id="basicSubModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="paymentForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteLabel"> Subscription</h4>
                </div>
                <div class="modal-body">
                    <p>Please review your invoice and click on Pay Now to make payment.</p>

                    <div class="material-datatables" id="printTable">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">


                                    <div class="pull-left m-t-30">
                                        <address>
                                            <strong>L'aine Services Limited</strong><br/>
                                            Adabraka-Accra<br/>
                                            <b>APPLICANT DETAILS :</b><br/>
                                            <span id="applicantName">#</span><br/>
                                            <em id="applicantEmail">#</em>
                                        </address>
                                    </div>
                                    <div class="pull-right m-t-30">
                                        <ul>
                                            <li>Invoice Date: <em id="orderDate">Jun 15, 2015</em></li>
                                            <li>Invoice Status: <span id="status"
                                                                      class="badge badge-danger">Pending</span></li>
                                            <li class="m-t-10">Invoice ID:<em id="transactionId">#</em></li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table m-t-30">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Unit Cost</th>
                                            <th>COT</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td id="description">Payment for Basic Subscription</td>
                                            <td id="amount">2000</td>
                                            <td id="cot">252.50</td>
                                            <td id="ttTotal">2.5</td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn-success" data-dismiss="modal">Cancel</button>
                    <a href="#" class="btn btn-primary btn-sm print-basic"><i class="fa fa-print"></i></a>

                    <a class="ttlr_inline" id="payBtn"
                       th:data-APIKey="${apiKey}"
                       data-transid="000000000000"
                       data-amount="1"
                       data-customer_email="email@customer.com"
                       data-currency="GHS"
                       th:data-redirect_url="${url}"
                       data-pay_button_text="Pay Now"
                       data-custom_description="Payment for Subscription"
                       data-payment_method="both">
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="account-popup-area signin-popup-box">
    <div class="account-popup">
        <span class="close-popup"><i class="la la-close"></i></span>
        <h3>User Login</h3>

        <div class="select-user">

        </div>
        <form name='f' th:action="@{/j_spring_security_check}" method='POST' autocomplete="on"
              class="tab-pane active col-12 p-a0 " id="tggl">
            <div class="cfield">
                <input type="text" placeholder="Username" name='username' required="required"/>
                <i class="la la-user"></i>
            </div>
            <div class="cfield">
                <input type="password" placeholder="********" name="password"/>
                <i class="la la-key"></i>
            </div>
            <p class="remember-label">
                <input type="checkbox" name="rememberme" id="cb1"><label for="cb1">Remember me</label>
            </p>

            <a data-toggle="tab" href="#forgot-password" class="white-text forget-pass pull-right m-t15"><i
                    class="fa fa-unlock-alt"></i> Forgot Password?</a>
            <button type="submit">Login</button>
        </form>

        <form th:action="@{/forgot}" method="post" action="#" role="form" class="tab-pane col-12 p-a0"
              id="forgot-password">

            <p>We will send you an email to reset your password. </p>
            <div class="cfield">
                <input type="text" id="form23" name="email" required="required" placeholder="Your email">
                <i class="la la-envelope"></i>
            </div>

            <div class="text-left">
                <a class="btn-link back" data-toggle="tab" href="#login">Back to login</a>
                <button class="btn btn-indigo btn-rounded pull-right">Submit</button>
            </div>

        </form>

    </div>
</div>

<script>
    document.getElementById('payment').addEventListener("click", paymentMethod);

    async function paymentMethod() {
        const mobileNumber = '233544639498';
        const response = await fetch(
            'https://payproxyapi.hubtel.com/items/initiate',
            {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    Authorization: `Basic WVlPd0w5OjliMWE5ZmYzYTc3MzQ5YWI5ZjViNGZlM2NmNTM4ZTRi`
                },
                body: JSON.stringify(
                    {
                        totalAmount: 150,
                        description: 'Payment for gold subscription',
                        callbackUrl: 'http://localhost:3000/subscription',
                        returnUrl: 'http://localhost:3000/subscription/cancelled',
                        merchantAccountNumber: '1645572',
                        cancellationUrl: 'http://localhost:3000/subscription/cancelled',
                        clientReference: 'AF123-1566-30',
                    }
                )
            }
        )
        console.log(response)
    }

</script>
<script data-cfasync="false" src="css/job/email-decode.min.js"></script>
<script src="js/job/jquery.min.js"></script>


<script src="js/job/modernizr.js"></script>
<script src="js/job/cript.js"></script>
<script src="js/job/bootstrap.min.js"></script>
<script src="js/job/wow.min.js"></script>
<script src="js/job/slick.min.js"></script>
<script src="js/job/parallax.js"></script>
<script src="js/job/select-chosen.js"></script>


<script src="js/jquery.lazy.min.js"></script>
<script src="js/sweetAlert.js"></script>
<script src="js/notify.min.js"></script>
<div th:insert="login-template :: login"></div>
<script src="js/login.js"></script>
<script src="js/registration.js"></script>

<!--<script src="js/statistics.js"></script>-->
<!--<script src="js/index.js"></script>-->


<script src="js/app-cv-restructure.js"></script>
<script src="js/job/category-jobs.js"></script>
<script src="js/job/control-job-application.js"></script>

</body>
</html>

