<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords"/>
    <meta content="" name="author"/>
    <meta content="" name="robots"/>
    <meta content="xjobs- Job Portal" name="description"/>
    <meta content="xjobs- Job Portal" property="og:title"/>
    <meta content="xjobs- Job Portal" property="og:description"/>
    <meta content="xjobs- Job Portal" property="og:image"/>
    <meta content="telephone=no" name="format-detection">

    <!-- FAVICONS ICON -->
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon"/>

    <!-- PAGE TITLE HERE -->
    <title>xjobs - Duplicate Account</title>

    <!-- MOBILE SPECIFIC -->
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <link href="/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/templete.css" rel="stylesheet" type="text/css">
    <link class="skin" href="/css/skin/skin-1.css" rel="stylesheet" type="text/css">
    <link href="/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/bootstrap-select/bootstrap.min.css" rel="stylesheet" type="text/css"/>

</head>
<body id="bg">
<div class="page-wraper">
    <div id="loading-area"></div>
    <!-- header -->
    <header class="site-header mo-left header fullwidth">
        <div th:insert="index-header :: header"></div>
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->

        <!-- inner page banner END -->
        <div class="content-block">

            <!-- Why Chose Us -->
            <!-- Call To Action -->
            <div class="section-full content-inner-2 call-to-action overlay-black-dark text-white text-center bg-img-fix"
                 style="background-image: url(images/about_us.png);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="m-b10">Duplicate Account!</h2>
                            <p class="m-b0">You have [(${list.size()})] account with this email: [(${rt})],please delete
                                the accounts leaving only one</p>

                            <a class="site-button m-t20 outline outline-2 radius-xl" href="/clientArea">Go to my
                                Page</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-full content-inner-2 call-to-action  text-center bg-img-fix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <table cellspacing="0" class="table table-striped table-no-bordered table-hover"
                                   id="datatables">

                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Profession</th>
                                    <th>Contact</th>
                                    <th>Gender</th>
                                    <th class="disabled-sorting text-center">Actions</th>
                                </tr>
                                </thead>

                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Profession</th>
                                    <th>Contact</th>
                                    <th>Gender</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                                </tfoot>

                                <tbody>
                                <tr th:each="country: ${list}">

                                    <td th:if="country" th:text="${country.id}"></td>
                                    <td>
                                        <h4>
                                            <a th:href="@{/seeker-profile(id=${country.id})}">[(${country.fullName})]</a>
                                        </h4>
                                        <ul style="list-style-type: none;color: blue; font-size: 12px">
                                            <li><i class="fa fa-map-marker"></i> [(${country.proffesionalTitile})],
                                                [(${country.currentLocation})]
                                            </li>
                                            <li><i class="fa fa-bookmark-o"></i> [(${country.educationLevel})]</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <a class="badge badge-success" href="#"> [(${country.primaryContact})] </a>
                                        <ul style="list-style-type: none;color: blue;font-size: 12px">
                                            <li><i class="fa fa-phone"></i>
                                                <a th:href="'tel:' + ${country.primaryContact}" title="Phone Call">Phone
                                                    Call</a>
                                            </li>
                                            <li><i class="fa fa-file-text-o"></i>
                                                <a th:href="'tel:' + ${country.primaryContact}" title="Send SMS">Send
                                                    SMS</a>
                                            </li>
                                            <li><i class="fa fa-envelope"></i>
                                                <a th:href="'mailto:' + ${country.email}" title="Send Email">Send
                                                    Email</a>
                                            </li>

                                        </ul>
                                    </td>
                                    <td>
                                        <a href="#">[(${country.gender})]</a>
                                    </td>

                                    <td class="td-actions text-right" th:if="country">

                                        <a class="btn btn-danger btn-round confirm-action"
                                           data-request-type="delete"
                                           th:href="@{/delete-profile/{id}(id=${country.id})}">
                                            <i class="fa fa-trash"></i>
                                        </a>

                                    </td>
                                </tr>
                                </tbody>


                            </table>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="deleteLabel" class="modal" id="deleteConfirmModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteLabel">Deleting Profile</h4>
                </div>

                <div class="modal-body">
                    <p>You have selected to delete this profile.</p>
                    <p>
                        If this was the action that you wanted to do,
                        please confirm your choice, or cancel and return to the page.

                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-danger" id="deleteConfirm" type="button">Delete Notification</button>
                </div>
            </div>
        </div>
        <!--                                          Dialog Ends-->
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
						
                        <span> © Copyright 2020  by <i class="fa fa-heart m-lr5 text-red heart"></i>
                            <a href="http://synergyosl.com" target="_blank">Synergy OSL </a> All rights reserved.</span>
                </div>
            </div>
        </div>

    </div>
    <!-- Footer END -->
    <button class="scroltop fa fa-chevron-up"></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="/plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="/plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="/plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="/plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="/plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="/plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="/plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="/plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="/js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="/js/dz.ajax.js"></script><!-- CONTACT JS  -->


<script>

    $('a.confirm-action').click(function (e) {

        e.preventDefault();
        var url = $(this).attr('href');
        $.get(url, function (assessment, status) { //Declare a GET that takes in href
            location.reload();
        });

    });
</script>


</body>
</html>
