<!DOCTYPE html>

<html lang="en">
<body>
<footer class="site-footer" style="margin-top:40px">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                    <div class="widget border-0">
                        <h5 class="m-b30 text-white">Information</h5>
                        <ul class="list-line">
                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="/tnc">Terms & Conditions</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/careers-with-us">Careers with Us</a></li>
                            <li><a href="/site-map">Site Map</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/faq">FAQs</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                    <div class="widget border-0">
                        <h5 class="m-b30 text-white">Job seekers</h5>
                        <ul class="list-1 w10 list-line">
                            <li><a href="/register">Register Now</a></li>
                            <li><a href="/findJobs">Search Jobs</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/free-job-alerts">Create Job Alert</a></li>
                            <li><a href="/report-problem">Report a Problem</a></li>
                            <li><a href="/resume-writing">Resume Writing</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                    <div class="widget border-0">
                        <h5 class="m-b30 text-white">Browse Jobs</h5>
                        <ul class="list-1 w10 list-line">
                            <li><a href="/all-jobs">Browse All Jobs</a></li>
                            <li><a href="/category-jobs">Jobs by Category</a></li>
                            <li><a href="/category-designations-jobs">Jobs by Designation</a></li>
                            <li><a href="/category-location-jobs">Jobs by Location</a></li>
                            <li><a href="/category-skill-jobs">Jobs by Skills</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 col-12">

                    <div class="widget border-0">
                        <h5 class="m-b30 text-white">Employers</h5>
                        <ul class="list-1 w10 list-line">
                            <li><a href="/job-posting">Job Posting</a></li>
                            <li><a href="/resume-database-access">Resume Database Access</a></li>
                            <li><a href="/login">Recruiter Login</a></li>
                            <li><a href="/resume-package">Buy Resume Package Online</a></li>
                            <li><a href="/report-problem">Report a Problem</a></li>
                        </ul>
                    </div>
                    <div class="widget">

                        <ul class="list-inline m-a0">
                            <li><a class="site-button white facebook circle " href="javascript:void(0);"
                                   id="link-facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="site-button white google-plus circle " href="javascript:void(0);"
                                   id="link-google"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li><a class="site-button white linkedin circle " href="javascript:void(0);"
                                   id="link-linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="site-button white instagram circle " href="javascript:void(0);"
                                   id="link-instagram"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="site-button white twitter circle " href="javascript:void(0);"
                                   id="link-twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
						
                        <span> © Copyright 2021  by <i class="fa fa-heart m-lr5 text-red heart"></i>
                            <a href="https://aoholdings.net"
                               target="_blank">Synergy Center </a> All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->


</body>
</html>