<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<!------Sidebar Menu Fragment begins here---------->
    <div  th:fragment="hostel-menu" id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" th:remove="tag">

      <div class="app-brand demo ">


        <a href="index.html" class="app-brand-link">
        <span class="app-brand-logo demo">
        <img th:src="@{/assets/img/AOLogo.PNG}" style="width: 60px; height: 100px;">

             </span>
          <span class="app-brand-text demo menu-text fw-bolder ms-2">libhostel</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
          <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
      </div>

      <div class="menu-inner-shadow"></div>



      <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-item active open">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Dashboards">Dashboard</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-checkbox-square"></i>
            <div data-i18n="Hostel Manger">Hostel Management</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/hostel/hostel" class="menu-link">
                <div data-i18n="Hostel">Hostel</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/hostel/block" class="menu-link">
                <div data-i18n="Block">Block</div>
              </a>
            </li>
            <li class="menu-item">
               <a href="/hostel/floor" class="menu-link">
              <div data-i18n="Floor">Floor</div>
            </a>
            </li>
            <li class="menu-item">
              <a href="/hostel/room" class="menu-link">
                <div data-i18n="Room">Room</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/hostel/bed" class="menu-link">
                <div data-i18n="Bed">Bed</div>
              </a>
            </li>
          </ul>
        </li>

        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-abacus"></i>
            <div data-i18n="Accommodation">Accommodation</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/accomodation/registration" class="menu-link">
                <div data-i18n="Registration">Registration</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/accomodation/reservation" class="menu-link">
                <div data-i18n="Reservations">Reservations</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/accomodation/exit" class="menu-link">
                <div data-i18n="Exit Trans">Exit Trans</div>
              </a>
            </li>
          </ul>
        </li>

        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-coffee"></i>
            <div data-i18n="Transaction">Transaction</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/transactions/payment" class="menu-link">
                <div data-i18n="Payments">Payments</div>
              </a>
            </li>
            <!--                        <li class="menu-item">-->
            <!--                            <a href="app-invoice-preview.html" class="menu-link">-->
            <!--                                <div data-i18n="Exit Trans">Exit Trans</div>-->
            <!--                            </a>-->
            <!--                        </li>-->
          </ul>
        </li>

        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-aperture"></i>
            <div data-i18n="Maintenance">Maintenance</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/maintenance/record" class="menu-link">
                <div data-i18n="Maintenance Manager">Maintenance Manager</div>
              </a>
            </li>
          </ul>
        </li>

        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bxs-user-account"></i>
            <div data-i18n="User Management">User Management</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/settings/users" class="menu-link">
                <div data-i18n="System User">System User</div>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </div>

<!------------sidebar menu ends here---------->


<!------Footer Fragment begins here---------->

<!------/end of Footer Fragment---------->



</body>
</html>