<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<hr/>
<footer th:fragment="hostel-footer" class="content-footer footer bg-footer-theme" th:remove="tag">
  <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
    <div class="mb-2 mb-md-0">
      © <script> document.write(new Date().getFullYear())  </script>
      , AO Holdings Ltd</a>
    </div>
    <div>
    </div>
  </div>
</footer>


</body>
</html>