<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<div th:fragment="index-menu2" th:remove="tag">
    <div class="responsive-header">
        <div class="responsive-menubar">
            <div class="res-logo">
                <a href="/" title="">
                    <img alt="" class="lozad"
                         data-src="/images/laine.jpg"
                         style="padding-top: 0px;padding-bottom: 0;border-radius: 20px;height: 45px"/>
                </a>
            </div>
            <div class="menu-resaction">
                <div class="res-openmenu"><img alt="" class="lozad" data-src="/images/icon.png"/> Menu</div>
                <div class="res-closemenu"><img alt="" class="lozad" data-src="/images/icon2.png"/> Close</div>
            </div>
        </div>

        <div class="responsive-opensec">
            <div class="btn-extars">
                <ul class="account-btns">
                    <li class="signup-popup"><a href="#" sec:authorize="!isAuthenticated()" title=""><i
                            class="la la-key"></i> Sign Up</a></li>
                    <li class="signin-popup"><a href="#" sec:authorize="!isAuthenticated()" title=""><i
                            class="la la-external-link-square"></i> Login</a></li>
                    <li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Logout</a></li>
                </ul>
            </div><!-- Btn Extras -->
            <form action="/findJobs" class="res-search">
                <input name="q" placeholder="Job title, keywords or company name" required type="text"/>
                <button type="submit"><i class="la la-search"></i></button>
            </form>
            <div class="responsivemenu">
                <ul>
                    <li><a class="active" href="/about-us" title=""><i class="las la-briefcase"></i> About Us</a></li>
                    <li><a href="/assessment" title=""><i class="las la-briefcase"></i> Assessment </a></li>
                    <li><a href="/academy" title=""><i class="las la-briefcase"></i> Academy </a></li>
                    <li class="menu-item-has-children">
                        <a href="#" title=""> <i class="las la-home"></i> Jobs</a>
                        <ul id="jobs">
                            <li><a href="/all-jobs">Browse All Jobs</a></li>
                            <li><a href="/category-jobs">Jobs by Category</a></li>
                            <li><a href="/jobs-by-qualifications">Jobs by Qualifications</a></li>
                            <li><a href="/category-location-jobs">Jobs by Location</a></li>
                            <li><a href="/category-skill-jobs">Jobs by Skills</a>
                        </ul>
                    </li>

                    <li class="menu-item-has-children">
                        <a href="#" title=""> <i class="las la-users"></i> Services</a>
                        <ul id="jobs">
                            <li class="menu-item-has-children">

                                <a href="#" title="">Job Seekers</a>
                                <ul>
                                    <!--                                    <li><a href="/job-seekers" title="Checkout our packages and plans"> <i-->
                                    <!--                                            class="las la-address-book"></i> Subscribe</a></li>-->
                                    <li><a href="/search-jobs" title="Search Jobs"> <i class="las la-search"></i> Search
                                        job</a></li>
                                    <li><a href="/cv-restructuring" title=""> <i class="las la-book"> </i> CV
                                        Restructuring</a></li>
                                    <li><a href="/interview-grooming" title="Interview grooming">Interview grooming</a>
                                    </li>
                                    <li><a href="/free-job-alerts" title="Create Job Alert"> <i class="las la-bell"></i>
                                        Create Job Alert</a></li>
                                    <li><a href="/report-problem">Report a Problem</a></li>
                                    <li style="display: none"><a href="/resume-writing">Resumé Writing</a></li>
                                </ul>

                            </li>
                            <li class="menu-item-has-children">
                                <a href="#" title="">Employers</a>
                                <ul>
                                    <li><a href="/services" title="Our Services"> <i class="las la-address-book"></i>Services</a>
                                    </li>
                                    <li><a href="/employer-package/subscription" title="subscription"> <i
                                            class="las la-user"></i> Subscribe</a></li>
                                    <li><a href="/cv-request" title="Request for CV"><i class="las la-search"></i>
                                        Request CV</a></li>
                                    <li><a href="/post-job" title=""> <i class="las la-book"> </i> Post Job</a></li>
                                    <li><a href="/report-problem"><i class="las la-exclamation"> </i>Report a
                                        Problem</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                    <li><a href="/dashboard" sec:authorize="hasRole('ROLE_ADMIN')" title="Dashboard"> <i
                            class="las la-briefcase"></i> Dashboard</a></li>
                    <li><a href="/company-dashboard" sec:authorize="hasRole('ROLE_COMPANY')" title="Dashboard"> <i
                            class="las la-briefcase"></i> Dashboard</a></li>
                    <li><a href="/candidate-dashboard" sec:authorize="hasRole('ROLE_JOBSEEKER')" title="Dashboard"> <i
                            class="las la-briefcase"></i> Dashboard</a></li>

                </ul>
            </div>
        </div>

    </div>
    <header class="stick-top forsticky new-header" id="myHeader">
        <div class="menu-sec">
            <div class="container">
                <div class="logo">
                    <a href="/" title="">
                        <img alt="" class="hidesticky lozad" data-src="/images/laine.jpg"
                             style="padding-top: 0px;padding-bottom: 0;border-radius: 20px;height: 45px"/>
                        <img alt="" class="showsticky lozad" data-src="/images/laine.jpg"
                             style="padding-top: 0px;padding-bottom: 0;border-radius: 20px;height: 45px"/>
                    </a>
                </div>
                <!-- Logo -->
                <div class="btn-extars">
                    <a class="post-job-btn signup-popup" href="#" sec:authorize="!isAuthenticated()" title="">Sign
                        Up</a>
                    <a class="post-job-btn signin-popup" href="#" sec:authorize="!isAuthenticated()" title="">Log In</a>
                    <a class="post-job-btn signin-popup" href="/logout" sec:authorize="isAuthenticated()" title="">Logout</a>
                </div>
                <!-- Btn Extras -->
                <nav>
                    <ul>
                        <li><a class="active" href="/about-us" title=""><i class="las la-briefcase"></i> About Us</a>
                        </li>
                        <li><a href="/assessment" title=""><i class="las la-briefcase"></i> Assessment </a></li>
                        <li><a href="/academy" title=""><i class="las la-briefcase"></i> Academy </a></li>
                        <li class="menu-item-has-children">
                            <a href="#" title=""> <i class="las la-home"></i> Jobs</a>
                            <ul id="jobs">
                                <li><a href="/all-jobs">Browse All Jobs</a></li>
                                <li><a href="/category-jobs">Jobs by Category</a></li>
                                <li><a href="/jobs-by-qualifications">Jobs by Qualifications</a></li>
                                <li><a href="/category-location-jobs">Jobs by Location</a></li>
                                <li><a href="/category-skill-jobs">Jobs by Skills</a>
                            </ul>
                        </li>

                        <li class="menu-item-has-children">
                            <a href="#" title=""> <i class="las la-users"></i> Services</a>
                            <ul id="jobs">
                                <li class="menu-item-has-children">

                                    <a href="#" title="">Job Seekers</a>
                                    <ul>
                                        <!--                                        <li><a href="/job-seekers" title="Checkout our packages and plans"> <i-->
                                        <!--                                                class="las la-address-book"></i> Subscribe</a></li>-->
                                        <li><a href="/search-jobs" title="Search Jobs"> <i class="las la-search"></i>
                                            Search job</a></li>
                                        <li><a href="/cv-restructuring" title=""> <i class="las la-book"> </i> CV
                                            Restructuring</a></li>
                                        <li><a href="/interview-grooming" title="Interview grooming">Interview
                                            grooming</a></li>
                                        <li><a href="/free-job-alerts" title="Create Job Alert"> <i
                                                class="las la-bell"></i> Create Job Alert</a></li>
                                        <li><a href="/report-problem">Report a Problem</a></li>
                                        <li style="display: none"><a href="/resume-writing">Resumé Writing</a></li>
                                    </ul>

                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#" title="">Employers</a>
                                    <ul>
                                        <li><a href="/services" title="Our Services"> <i
                                                class="las la-address-book"></i>Services</a></li>
                                        <li><a href="/employer-package/subscription" title="subscription"> <i
                                                class="las la-user"></i> Subscribe</a></li>
                                        <li><a href="/cv-request" title="Request for CV"><i class="las la-search"></i>
                                            Request CV</a></li>
                                        <li><a href="/post-job" title=""> <i class="las la-book"> </i> Post Job</a></li>
                                        <li><a href="/report-problem"><i class="las la-exclamation"> </i>Report a
                                            Problem</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>


                        <li><a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')" title="Dashboard"> <i
                                class="las la-briefcase"></i> Dashboard</a></li>
                        <li><a href="/company-dashboard" sec:authorize="hasRole('ROLE_COMPANY')" title="Dashboard"> <i
                                class="las la-briefcase"></i> Dashboard</a></li>
                        <li><a href="/candidate-dashboard" sec:authorize="hasRole('ROLE_JOBSEEKER')" title="Dashboard">
                            <i class="las la-briefcase"></i> Dashboard</a></li>


                    </ul>
                </nav><!-- Menus -->
            </div>
        </div>
    </header>
</div>
</body>
</html>
