<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<div class="passwordChange" th:fragment="passwordChange">
    <div class="modal fade lead-form-modal" id="car-details" role="dialog" tabindex="-1" th:fragment="change-pass">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body row m-a0 clearfix">
                    <div class="col-lg-12 column">
                        <div class="padding-left">
                            <div class="manage-jobs-sec">
                                <h3>Change Password</h3>
                                <div class="change-password">

                                    <form id="passform">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span class="pf-title">New Password</span>
                                                <div class="pf-field">
                                                    <input id="password" required type="password"/>
                                                </div>
                                                <span class="pf-title">Confirm Password</span>
                                                <div class="pf-field">
                                                    <input id="txtConfirmPassword" type="password"/>
                                                </div>
                                                <span id="msg"></span>

                                                <button disabled id="btnUpdatepass" type="submit">Update</button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
