<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords"/>
    <meta content="" name="author"/>
    <meta content="" name="robots"/>
    <meta content="xjobss- Job Portal" name="description"/>
    <meta content="xjobss- Job Portal" property="og:title"/>
    <meta content="xjobss- Job Portal" property="og:description"/>
    <meta content="xjobss- Job Portal" property="og:image"/>
    <meta content="telephone=no" name="format-detection">

    <!-- FAVICONS ICON -->
    <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon"/>
    <!-- PAGE TITLE HERE -->
    <title>xjobs - Contact Us</title>

    <!-- MOBILE SPECIFIC -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/templete.css" rel="stylesheet" type="text/css">
    <link class="skin" href="/css/skin/skin-1.css" rel="stylesheet" type="text/css">
    <link href="/css/mycss.css" rel="stylesheet" type="text/css"/>
</head>
<body id="bg">
<div class="page-wraper">
    <div id="loading-area"></div>

    <!-- header -->
    <header class="site-header mo-left header border-bottom  fullwidth">
        <div th:insert="rec-header :: header"></div>
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/contactUs.png);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Contact Us</h1>
                    <!-- Breadcrumb row -->
                    <div class="breadcrumb-row">
                        <ul class="list-inline">
                            <li><a href="#">Home</a></li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                    <!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="section-full content-inner bg-white contact-style-1">

            <div class="container">
                <div class="row">
                    <!-- right part start -->


                    <div class="col-lg-4 col-md-6 d-lg-flex d-md-flex">
                        <div class="p-a30 border m-b30 contact-area border-1 align-self-stretch radius-sm">
                            <h4 class="m-b10">L’AINE Services – Head Office</h4>
                            <p>If you have any questions simply use the following contact details.</p>


                            <ul class="no-margin">
                                <li class="icon-bx-wraper left m-b30">
                                    <div class="icon-bx-xs border-1"><a class="icon-cell" href="#"><i
                                            class="ti-location-pin"></i></a></div>
                                    <div class="icon-content">
                                        <h6 class="text-uppercase m-tb0 dez-tilte">Location:</h6>
                                        <p>Plot No. 18 and 19 Ocean View Estates, Community 13, Sakumono</p>
                                        <p>P.O. Box GP1198 Accra, Near The Nungua Barrier</p>
                                    </div>
                                </li>
                                <li class="icon-bx-wraper left  m-b30">
                                    <div class="icon-bx-xs border-1"><a class="icon-cell" href="maiilto:info@laine.com"><i
                                            class="ti-email"></i></a></div>
                                    <div class="icon-content">
                                        <h6 class="text-uppercase m-tb0 dez-tilte">Email:</h6>
                                        <p>enquiries@laineservices.com</p>
                                    </div>
                                </li>
                                <li class="icon-bx-wraper left">
                                    <div class="icon-bx-xs border-1"><a class="icon-cell" href="#"><i
                                            class="ti-mobile"></i></a></div>
                                    <div class="icon-content">
                                        <h6 class="text-uppercase m-tb0 dez-tilte">PHONE</h6>
                                        <p>0302-717039 / 0302-716983 / 0302-716986 / 0302-717038</p>
                                    </div>
                                </li>


                            </ul>


                            <div class="m-t20">
                                <ul class="dez-social-icon dez-social-icon-lg">
                                    <li><a class="fa fa-facebook bg-primary"
                                           href="https://www.facebook.com/laineservices"></a></li>
                                    <li><a class="fa fa-twitter bg-primary"
                                           href="http://www.twitter.com/laineservices"></a></li>
                                    <li><a class="fa fa-linkedin bg-primary" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest-p bg-primary" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-google-plus bg-primary"
                                           href="https://www.youtube.com/user/LAINEServices/videos"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- right part END -->
                    <div class="col-lg-4 col-md-6 d-lg-flex d-md-flex">
                        <div class="p-a30 border m-b30 contact-area border-1 align-self-stretch radius-sm">
                            <h4 class="m-b10">L’AINE Services – Adabraka Branch</h4>
                            <p>If you have any questions simply use the following contact details.</p>

                            <ul class="no-margin">
                                <li class="icon-bx-wraper left m-b30">
                                    <div class="icon-bx-xs border-1"><a class="icon-cell" href="#"><i
                                            class="ti-location-pin"></i></a></div>
                                    <div class="icon-content">
                                        <h6 class="text-uppercase m-tb0 dez-tilte">Address:</h6>
                                        <p>Kojo Thompson road, near Evangel Assemblies of God.</p>
                                    </div>
                                </li>
                                <li class="icon-bx-wraper left  m-b30">
                                    <div class="icon-bx-xs border-1"><a class="icon-cell" href="maiilto:info@laine.com"><i
                                            class="ti-email"></i></a></div>
                                    <div class="icon-content">
                                        <h6 class="text-uppercase m-tb0 dez-tilte">Email:</h6>
                                        <p>hrconsulting@laineservices.com</p>
                                    </div>
                                </li>
                                <li class="icon-bx-wraper left">
                                    <div class="icon-bx-xs border-1"><a class="icon-cell" href="#"><i
                                            class="ti-mobile"></i></a></div>
                                    <div class="icon-content">
                                        <h6 class="text-uppercase m-tb0 dez-tilte">PHONE</h6>
                                        <p>0302-239247 / 0302-249832 / 0302-249833</p>
                                    </div>
                                </li>


                            </ul>


                            <div class="m-t20">
                                <ul class="dez-social-icon dez-social-icon-lg">
                                    <li><a class="fa fa-facebook bg-primary"
                                           href="https://www.facebook.com/laineservices"></a></li>
                                    <li><a class="fa fa-twitter bg-primary"
                                           href="http://www.twitter.com/laineservices"></a></li>
                                    <li><a class="fa fa-linkedin bg-primary" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest-p bg-primary" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-google-plus bg-primary"
                                           href="https://www.youtube.com/user/LAINEServices/videos"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Left part start -->

                    <div class="col-lg-4 col-md-6 d-lg-flex d-md-flex">
                        <div class="p-a30 border m-b30 contact-area border-1 align-self-stretch radius-sm">
                            <h4 class="m-b10">L’AINE Services – Kumasi</h4>
                            <p>If you have any questions simply use the following contact details.</p>

                            <ul class="no-margin">
                                <li class="icon-bx-wraper left m-b30">
                                    <div class="icon-bx-xs border-1"><a class="icon-cell" href="#"><i
                                            class="ti-location-pin"></i></a></div>
                                    <div class="icon-content">
                                        <h6 class="text-uppercase m-tb0 dez-tilte">Address:</h6>
                                        <p>P. O. Box KS 5675, Kumasi</p>
                                        <p>Situated behind SIC Building, House No. OZRL 114 Bompata, Roman Hill</p>
                                    </div>
                                </li>
                                <li class="icon-bx-wraper left  m-b30">
                                    <div class="icon-bx-xs border-1"><a class="icon-cell" href="maiilto:info@laine.com"><i
                                            class="ti-email"></i></a></div>
                                    <div class="icon-content">
                                        <h6 class="text-uppercase m-tb0 dez-tilte">Email:</h6>
                                        <p>hrconsulting@laineservices.com</p>
                                    </div>
                                </li>
                                <li class="icon-bx-wraper left">
                                    <div class="icon-bx-xs border-1"><a class="icon-cell" href="#"><i
                                            class="ti-mobile"></i></a></div>
                                    <div class="icon-content">
                                        <h6 class="text-uppercase m-tb0 dez-tilte">PHONE</h6>
                                        <p>03220-25948 / 03220-49727 / 03220-32889</p>
                                    </div>
                                </li>


                            </ul>


                            <div class="m-t20">
                                <ul class="dez-social-icon dez-social-icon-lg">
                                    <li><a class="fa fa-facebook bg-primary"
                                           href="https://www.facebook.com/laineservices"></a></li>
                                    <li><a class="fa fa-twitter bg-primary"
                                           href="http://www.twitter.com/laineservices"></a></li>
                                    <li><a class="fa fa-linkedin bg-primary" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest-p bg-primary" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-google-plus bg-primary"
                                           href="https://www.youtube.com/user/LAINEServices/videos"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-lg-flex d-md-flex">
                        <div class="p-a30 border m-b30 contact-area border-1 align-self-stretch radius-sm">
                            <h4 class="m-b10">L’AINE Services – Takoradi</h4>
                            <p>If you have any questions simply use the following contact details.</p>

                            <ul class="no-margin">
                                <li class="icon-bx-wraper left m-b30">
                                    <div class="icon-bx-xs border-1"><a class="icon-cell" href="#"><i
                                            class="ti-location-pin"></i></a></div>
                                    <div class="icon-content">
                                        <h6 class="text-uppercase m-tb0 dez-tilte">Address:</h6>
                                        <p>Situated on the Liberation Road.</p>
                                    </div>
                                </li>
                                <li class="icon-bx-wraper left  m-b30">
                                    <div class="icon-bx-xs border-1"><a class="icon-cell" href="maiilto:info@laine.com"><i
                                            class="ti-email"></i></a></div>
                                    <div class="icon-content">
                                        <h6 class="text-uppercase m-tb0 dez-tilte">Email:</h6>
                                        <p></p>
                                    </div>
                                </li>
                                <li class="icon-bx-wraper left">
                                    <div class="icon-bx-xs border-1"><a class="icon-cell" href="#"><i
                                            class="ti-mobile"></i></a></div>
                                    <div class="icon-content">
                                        <h6 class="text-uppercase m-tb0 dez-tilte">PHONE</h6>
                                        <p>03120-26948 / 03120-26986</p>
                                    </div>
                                </li>


                            </ul>


                            <div class="m-t20">
                                <ul class="dez-social-icon dez-social-icon-lg">
                                    <li><a class="fa fa-facebook bg-primary"
                                           href="https://www.facebook.com/laineservices"></a></li>
                                    <li><a class="fa fa-twitter bg-primary"
                                           href="http://www.twitter.com/laineservices"></a></li>
                                    <li><a class="fa fa-linkedin bg-primary" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-pinterest-p bg-primary" href="javascript:void(0);"></a></li>
                                    <li><a class="fa fa-google-plus bg-primary"
                                           href="https://www.youtube.com/user/LAINEServices/videos"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="p-a30 m-b30 radius-sm bg-gray clearfix">
                            <h4>Send Message Us</h4>
                            <div class="dzFormMsg"></div>
                            <form action="script/contact.php" class="dzForm" method="post">
                                <input name="dzToDo" type="hidden" value="Contact">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" name="dzName" placeholder="Your Name"
                                                       required
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" name="dzEmail"
                                                       placeholder="Your Email Address" required
                                                       type="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <textarea class="form-control" name="dzMessage"
                                                          placeholder="Your Message..." required
                                                          rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="recaptcha-bx">
                                            <div class="input-group">
                                                <div class="g-recaptcha" data-callback="verifyRecaptchaCallback"
                                                     data-expired-callback="expiredRecaptchaCallback"
                                                     data-sitekey="<!-- Put reCaptcha Site Key -->"></div>
                                                <input class="form-control d-none"
                                                       data-error="Please complete the Captcha"
                                                       data-recaptcha="true" required
                                                       style="display:none;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button class="site-button " name="submit" type="submit" value="Submit"><span>Submit</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Left part END -->
                    <div class="col-lg-4 col-md-12 d-lg-flex m-b30">
                        <iframe allowfullscreen
                                class="align-self-stretch radius-sm"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227748.3825624477!2d75.65046970649679!3d26.88544791796718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396c4adf4c57e281%3A0xce1c63a0cf22e09!2sJaipur%2C+Rajasthan!5e0!3m2!1sen!2sin!4v1500819483219"
                                style="border:0; width:100%; min-height:350px;"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact area  END -->
    </div>
    <!-- Content END-->
    <!-- Modal Box -->
    <div th:insert="modal :: modal"></div>
    <!-- Modal Box End -->
    <!-- Footer -->
    <footer class="site-footer" style="margin-top:40px">
        <div th:insert="footer :: footer"></div>

    </footer>
    <!-- Footer END -->
    <!-- scroll top button -->
    <button class="scroltop fa fa-chevron-up"></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="/plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="/plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="/plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="/plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="/plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="/plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="/plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="/plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="/js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src='https://www.google.com/recaptcha/api.js'></script> <!-- Google API For Recaptcha  -->
<script src="/js/dz.ajax.js"></script><!-- CONTACT JS  -->
</body>
</html>
