<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="Jobs, L'aine Jogs" name="keywords"/>
    <meta content="Synergy OSL" name="author"/>
    <meta content="" name="robots"/>
    <meta content="xjobs -  Job Portal" name="description"/>
    <meta content="xjobs -  Job Portal" property="og:title"/>
    <meta content="xjobs -  Job Portal" property="og:description"/>
    <meta content="xjobs -  Job Portal" property="og:image"/>
    <meta content="telephone=no" name="format-detection">

    <!-- FAVICONS ICON -->
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon"/>

    <!-- PAGE TITLE HERE -->
    <title>xjobs - Buy Resume Package Online</title>

    <!-- MOBILE SPECIFIC -->
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->


    <!-- STYLESHEETS -->
    <link href="/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/templete.css" rel="stylesheet" type="text/css">
    <link class="skin" href="/css/skin/skin-1.css" rel="stylesheet" type="text/css">
    <link class="skin" href="/css/sweet-alert.min.css" rel="stylesheet" type="text/css"/>


    <link href="/css/my-auto-complete.css" rel="stylesheet" type="text/css">
    <link href="/css/mycss.css" rel="stylesheet" type="text/css">
    <link class="skin" href="/css/price.css" rel="stylesheet" type="text/css"/>
    <link class="skin" href="/css/header-css.css" rel="stylesheet" type="text/css"/>

</head>
<body class="hold-transition layout-top-nav" id="bg">
<div id="loading-area"></div>
<div class="page-wraper">

    <!-- Content -->
    <header class="site-header mo-left header-dark fullwidth">
        <div th:insert="header :: header"></div>
    </header>

    <div class="page-content">
        <!-- Section Banner -->

        <div class="dez-bnr-inr overlay-black-middle lozad" data-src="/images/job_list.png">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Buy Resume Package Online</h1>
                    <!-- Breadcrumb row -->
                    <div class="breadcrumb-row">
                        <ul class="list-inline">
                            <li><a href="/">Home</a></li>
                            <li>Buy Resume Package Online</li>
                        </ul>
                    </div>
                    <!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- Section Banner END -->

        <!--Subscription -->
        <div id="generic_price_table">

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!--PRICE HEADING START-->
                            <div class="price-heading clearfix">
                                <h1>Membership Plans</h1>
                            </div>
                            <!--//PRICE HEADING END-->
                        </div>
                    </div>
                </div>
                <div class="container">

                    <!--BLOCK ROW START-->
                    <div class="row">
                        <div class="col-md-4">

                            <div class="generic_content clearfix">
                                <div class="generic_head_price clearfix">
                                    <div class="generic_head_content clearfix">
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>[(${basic.name})]</span>
                                        </div>
                                    </div>

                                    <div class="generic_price_tag clearfix">
                                                        <span class="price">
                                                            <span class="sign">Gh&cent;</span>
                                                            <span class="currency">[(${#numbers.formatDecimal(basic.amout, 0,'COMMA',2,'POINT')})]</span>
                                                        </span>
                                    </div>
                                </div>

                                <div class="generic_feature_list">
                                    <ul>
                                                        <span class="list-arrow" th:each="req: ${basicMsg}"
                                                              th:remove="tag">
                                                            <li><span>[(${req})]</span></li>
                                                        </span>
                                    </ul>
                                </div>

                                <div class="generic_price_btn clearfix">
                                    <a class="" href="/comp-subscription">Sign up</a>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-4">


                            <div class="generic_content active clearfix">
                                <div class="generic_head_price clearfix">
                                    <div class="generic_head_content clearfix">
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>[(${prof.name})]</span>
                                        </div>
                                    </div>

                                    <div class="generic_price_tag clearfix">
                                                        <span class="price">
                                                            <span class="sign">Gh&cent;</span>
                                                            <span class="currency">[(${#numbers.formatDecimal(prof.amout, 0,'COMMA',2,'POINT')})]</span>
                                                        </span>
                                    </div>
                                </div>

                                <div class="generic_feature_list">
                                    <ul>
                                                        <span class="list-arrow" th:each="req: ${proMsg}"
                                                              th:remove="tag">
                                                            <li><span>[(${req})]</span></li>
                                                        </span>
                                    </ul>
                                </div>

                                <div class="generic_price_btn clearfix">
                                    <a class="" href="/comp-subscription">Sign up</a>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="generic_content clearfix">
                                <div class="generic_head_price clearfix">
                                    <div class="generic_head_content clearfix">

                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>[(${extended.name})]</span>
                                        </div>

                                    </div>

                                    <div class="generic_price_tag clearfix">
                                                        <span class="price">
                                                            <span class="sign">Gh&cent;</span>
                                                            <span class="currency">[(${#numbers.formatDecimal(extended.amout, 0,'COMMA',2,'POINT')})]</span>
                                                        </span>
                                    </div>
                                    <!--//PRICE END-->

                                </div>
                                <!--//HEAD PRICE DETAIL END-->

                                <!--FEATURE LIST START-->
                                <div class="generic_feature_list">
                                    <ul>
                                                        <span class="list-arrow" th:each="req: ${extendedMsg}"
                                                              th:remove="tag">
                                                            <li><span>[(${req})]</span></li>
                                                        </span>
                                    </ul>
                                </div>
                                <!--//FEATURE LIST END-->

                                <!--BUTTON START-->
                                <div class="generic_price_btn clearfix">
                                    <a class="" href="/comp-subscription">Sign up</a>
                                </div>
                                <!--//BUTTON END-->

                            </div>
                            <!--//PRICE CONTENT END-->

                        </div>
                    </div>

                </div>

            </section>

        </div>


        <!-- Our Latest Blog -->

    </div>


    <footer class="site-footer" style="margin-top:40px">
        <div th:insert="footer :: footer"></div>

    </footer>
    <!-- Footer END -->
    <!-- scroll top button -->
    <button class="scroltop fa fa-arrow-up"></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="/plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="/plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="/plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="/plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="/plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="/plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="/plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="/plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="/js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="/js/dz.ajax.js"></script><!-- CONTACT JS  -->
<script src="/js/sweetAlert.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="/js/jquery.lazy.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('.lozad').Lazy();
    });
</script>

<script type="text/javascript">
    $(function () {
        var url = "/find-company";

        $.get(url, function (data, status) {

            $('#link-facebook').attr("href", data.facebook);
            $('#link-google').attr("href", data.google);
            $('#link-linkedin').attr("href", data.linkin);
            $('#link-instagram').attr("href", data.instagram);
            $('#link-twitter').attr("href", data.twitter);

        });
    });

</script>

</body>
</html>