<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="Jobs, L'aine Jogs" name="keywords"/>
    <meta content="Synergy OSL" name="author"/>
    <meta content="" name="robots"/>
    <meta content="xjobs -  Job Portal" name="description"/>
    <meta content="xjobs -  Job Portal" property="og:title"/>
    <meta content="xjobs -  Job Portal" property="og:description"/>
    <meta content="xjobs -  Job Portal" property="og:image"/>
    <meta content="telephone=no" name="format-detection">

    <!-- FAVICONS ICON -->
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon"/>

    <!-- PAGE TITLE HERE -->
    <title>Terms and Condition | xjobs </title>

    <!-- MOBILE SPECIFIC -->
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Styles -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" rel="stylesheet">
    <link href="/css/job/bootstrap-grid.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/icons.css" rel="stylesheet">
    <link href="/css/job/animate.min.css" rel="stylesheet">
    <link href="/css/job/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/chosen.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/colors/colors.css" rel="stylesheet" type="text/css"/>


    <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
          integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" rel="stylesheet">
    <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css"
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
          integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" rel="stylesheet">
    <link class="skin" href="/css/sweet-alert.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/notify.min.css" rel="stylesheet" type="text/css"/>
    <style>

        * {
            box-sizing: border-box;
        }

        .apply-job {
            border-radius: 45px;
            background-color: #005cbf;
            border: none;
            color: white;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 4px 2px;
            float: right !important;
        }

        .flex-container {
            display: flex;
            flex-direction: row;
            text-align: left;

        }

        .flex-container:hover {
            cursor: pointer;
        }

        .flex-item-left {
            background-color: #f1f1f1;
            padding: 10px;
            text-align: left;
            flex: 50%;
        }

        .flex-item-right {
            background-color: #f1f1f1;
            padding: 10px;
            flex: 50%;
        }

        .flex-item-center {
            background-color: #f1f1f1;
            padding: 10px;
            text-align: left;
            flex: 100%;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;;
            border-radius: 5px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #b30000;
        }

        /* Responsive layout - makes a one column-layout instead of two-column layout */
        @media (max-width: 800px) {
            .flex-container {
                flex-direction: column;
            }
        }

    </style>
</head>
<body>

<div class="page-loading">
    <img alt="" src="/images/loader.gif"/>
    <span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">


    <div>
        <div th:insert="other-menu :: oheader"></div>
    </div>

    <section>
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="find-cand">
                            <form action="/findJobs">
                                <div class="job-field">
                                    <input name="q" placeholder="Job title, keywords or company name" required
                                           type="text"/>
                                </div>
                                <div class="job-field">
                                    <input id="mylocation" placeholder="Type a location" type="text"/>
                                </div>
                                <button type="submit"><i class="la la-search"></i></button>

                            </form>
                        </div>
                    </div>


                    <div class="col-lg-12">
                        <br/>
                    </div>
                    <div class="col-lg-12">
                        <h2>[[${totalFound}]] jobs found for Delivery Driver </h2>
                        <br/>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="block">
            <div class="container">
                <div class="row">

                    <div class="col-lg-5">

                        <div class="flex-container" style="overflow-y: auto; height:300px;">
                            <div class="col-lg-12">

                                <div th:each="country: ${list}" th:remove="tag">

                                    <div class="job-title-sec my-job-search" data-id="1"
                                         th:onclick="'javascript:rowClicked(\'' + ${country.id} + '\');'">
                                        <div class="row">
                                            <div class="flex-item-left">
                                                                    <span th:if="${country.postedBy==null}">
                                                                        <img alt="" class="c-logo lozad"
                                                                             data-src="/images/logo/icon1.png"
                                                                             style="height: 50px;width: 80px"/>
                                                                    </span>
                                                <span th:if="${country.postedBy != null}">
                                                                        <div th:if="${not country.showCompanyName}">
                                                                            <img alt="" class="c-logo lozad"
                                                                                 data-src="/images/logo/icon1.png"
                                                                                 style="height: 50px;width: 80px"/>
                                                                        </div>
                                                                        <img class="c-logo lozad"
                                                                             style="height: 50px;width: 80px"
                                                                             th:data-src="@{'/uploads/' + ${country.fileName}}"
                                                                             th:if="${country.showCompanyName}">
                                                                    </span>
                                                <p>
                                                                        <span>
                                                                            <a href="/job-detail"
                                                                               th:href="@{/job-details(id=${country.id})}"
                                                                               th:text="*{country.profession}?: '(not specified)'"
                                                                               title="View Details">   </a>
                                                                        </span>

                                                    <span><small>Bury Saint Edmunds, ANGL</small></span>
                                                </p>
                                            </div>
                                            <div class="flex-item-right">
                                                <i class="fa fa-clock-o"></i> 6days ago
                                            </div>

                                            <div class="flex-item-center" id="jobDescription"
                                                 th:utext="*{country.details}?: '(not specified)'">

                                            </div>
                                            <a class="apply-job pull-right" href="#" title="">Apply</a>
                                        </div>
                                        <hr/>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="flex-container" id="main-details" style="overflow-y: auto; height:600px;">
                            jghgjhhj
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>


    <footer class="site-footer" style="margin-top:40px">
        <div th:insert="footer-1 :: footer"></div>

    </footer>

</div>
<div th:insert="login-template :: login"></div>
<div class="account-popup-area signin-popup-box">
    <div class="account-popup">
        <span class="close-popup"><i class="la la-close"></i></span>
        <h3>User Login</h3>

        <div class="select-user">

        </div>
        <form autocomplete="on" class="tab-pane active col-12 p-a0 " id="tggl" method='POST'
              name='f' th:action="@{/j_spring_security_check}">
            <div class="cfield">
                <input name='username' placeholder="Username" required="required" type="text"/>
                <i class="la la-user"></i>
            </div>
            <div class="cfield">
                <input name="password" placeholder="********" type="password"/>
                <i class="la la-key"></i>
            </div>
            <p class="remember-label">
                <input id="cb1" name="rememberme" type="checkbox"><label for="cb1">Remember me</label>
            </p>

            <a class="white-text forget-pass pull-right m-t15" data-toggle="tab" href="#forgot-password"><i
                    class="fa fa-unlock-alt"></i> Forgot Password?</a>
            <button type="submit">Login</button>
        </form>

        <form action="#" class="tab-pane col-12 p-a0" id="forgot-password" method="post" role="form"
              th:action="@{/forgot}">

            <p>We will send you an email to reset your password. </p>
            <div class="cfield">
                <input id="form23" name="email" placeholder="Your email" required="required" type="text">
                <i class="la la-envelope"></i>
            </div>

            <div class="text-left">
                <a class="btn-link back" data-toggle="tab" href="#login">Back to login</a>
                <button class="btn btn-indigo btn-rounded pull-right">Submit</button>
            </div>

        </form>

    </div>
</div>

<script src="/js/job/jquery.min.js" type="text/javascript"></script>
<script data-cfasync="false" src="css/job/email-decode.min.js"></script>
<script src="/js/job/modernizr.js" type="text/javascript"></script>
<script src="/js/job/cript.js" type="text/javascript"></script>
<script src="/js/job/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/job/wow.min.js" type="text/javascript"></script>
<script src="/js/job/slick.min.js" type="text/javascript"></script>
<script src="/js/job/parallax.js" type="text/javascript"></script>
<script src="/js/job/select-chosen.js" type="text/javascript"></script>
<script src="/js/jquery.lazy.min.js" type="text/javascript"></script>
<script src="/js/sweetAlert.js"></script>
<script src="/js/signup.js"></script>
<script src="/js/notify.min.js"></script>
<script src="/js/notify.min.js"></script>
<script src="/js/job-details.js"></script>
<script type="text/javascript">
    $(function () {

        $("#forgot-password").toggle(1000);
        $('.lozad').Lazy();


        var jobDescription = $("#jobDescription").html();
        const strippedString = jobDescription.replace(/(<([^>]+)>)/gi, "");
        var trx = truncateString(strippedString, 20);
        $("#jobDescription").html(escape_HTML(trx));
    });//End of document.ready

    function truncateString(str, num) {
        if (str.length <= num) {
            return str;
        }
        return str.slice(0, num) + '...'
    }

    function escape_HTML(html_str) {
        'use strict';

        return html_str.replace(/[&<>"]/g, function (tag) {
            var chars_to_replace = {
                '&': '&',
                '<': '<',
                '>': '>',
                '"': '"'
            };

            return chars_to_replace[tag] || tag;
        });
    }
</script>

</body>
</html>

