<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title> For Employers | xjobs</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="CreativeLayers" name="author">

    <!-- Styles -->


    <link href="/css/icons.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/css/chosen.css" rel="stylesheet" type="text/css"/>
    <link href="/css/colors/colors.css" rel="stylesheet" type="text/css"/>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
          integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" rel="stylesheet">


    <link href="/css/job/icons.css" rel="stylesheet">
    <link href="/css/job/animate.min.css" rel="stylesheet">
    <link href="/css/job/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/chosen.css" rel="stylesheet" type="text/css"/>
    <link href="/css/job/colors/colors.css" rel="stylesheet" type="text/css"/>


    <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
          integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" rel="stylesheet">
    <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css"
          rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
          integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" rel="stylesheet">
    <link class="skin" href="/css/sweet-alert.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/notify.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon"/>
    <style>
        .main-text {
            color: white;
            font-size: 18px;
            text-decoration: none;
        }
    </style>

</head>
<body>

<div class="page-loading">
    <img alt="" src="/images/loader.gif"/>
    <span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">

    <div th:insert="index-menu2 :: index-menu2"></div>

    <section>
        <div class="block no-padding">
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-featured-sec style2">
                            <ul class="main-slider-sec style2 text-arrows">
                                <li class="slideHome"><img alt="" class="lozad" data-src="/images/mslider2.jpg"
                                                           style="height: 450px"/></li>
                            </ul>
                            <div class="job-search-sec w3-left">
                                <h1 class="text-white text-center" style="font-weight: bold"> Employers' Services</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <h3 style="font-weight: bold">Find the right fit, right when you need it.</h3>
                            <br/>
                            <p>When the pressure’s on to find that rockstar employee (or entire team), we’ve got
                                everything you need to
                                make a match – giving you the optimum tools, on the best network to find the right
                                candidates. </p>

                            <p>You’ve got enough on your plate. Let us help you find the right fit. </p>


                        </div>
                        <div class="heading">
                            <h2>How It Works</h2>
                        </div><!-- Heading -->
                        <div class="how-to-sec">
                            <div class="how-to">
                                <span class="how-icon"><i class="la la-user"></i></span>
                                <h3>Register an account</h3>
                                <p>Post a job to tell us about your project. We'll quickly match you with the right
                                    freelancers.</p>
                            </div>
                            <div class="how-to">
                                <span class="how-icon"><i class="la la-file-archive-o"></i></span>
                                <h3>Specify & choose your product</h3>
                                <p>Browse profiles, reviews, and proposals then interview top candidates. </p>
                            </div>
                            <div class="how-to">
                                <span class="how-icon"><i class="la la-list"></i></span>
                                <h3>Post job</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="block gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 parallax scrolly-invisible no-parallax lozad"
                         data-src="/images/testimonial.jpg"
                         style="background: repeat scroll 50% 422.28px transparent; height: 400px">

                    </div><!-- Heading -->

                    <div class="col-lg-6">
                        <div class="browse-all-cat">
                            <h2 class="heading" title="">Find Candidate</h2>
                            <p>
                                You spend time getting your job descriptions just right, so make sure the right
                                candidates are seeing them. We combined our two most popular products into one
                                easy-to-use package so you
                                can efficiently post opportunities and search for candidates.

                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <!-- Heading -->

                    <div class="col-lg-6">
                        <div class="browse-all-cat">
                            <h2 class="w3-left " title="">Employer branding</h2>
                            <p class="w3-left w3-text-left">

                                Whether it’s free–lunch Fridays or a pet-friendly workplace, we’ll help you show off
                                your company’s culture,
                                personality, and values with engaging content that lets the right candidate know what
                                makes you special.

                            </p>

                        </div>
                    </div>
                    <div class="col-lg-6 parallax scrolly-invisible no-parallax lozad"
                         data-src="/images/mslider1.jpg"
                         style="background: repeat scroll 50% 422.28px transparent; height: 400px; ;">

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--	<section>-->
    <!--		<div class="block">-->
    <!--			<div data-velocity="-.1" style="background: url(images/resource/parallax2.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color red"></div>&lt;!&ndash; PARALLAX BACKGROUND IMAGE &ndash;&gt;-->
    <!--			<div class="container">-->
    <!--				<div class="row">-->
    <!--					<div class="col-lg-12">-->
    <!--						<div class="heading light">-->
    <!--							<h2>Xjobs Site Stats</h2>-->
    <!--							<span>Here we list our site stats and how many people we’ve helped find a job and companies have found <br />recruits. It's a pretty awesome stats area!</span>-->
    <!--						</div>&lt;!&ndash; Heading &ndash;&gt;-->
    <!--						<div class="stats-sec">-->
    <!--							<div class="row">-->
    <!--								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
    <!--									<div class="stats">-->
    <!--										<span id="posted-jobs">0</span> -->
    <!--										<h5>Jobs Posted</h5>-->
    <!--									</div>-->
    <!--								</div>-->
    <!--								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
    <!--									<div class="stats">-->
    <!--										<span id="filled-jobs">0</span>-->
    <!--										<h5>Jobs Filled</h5>-->
    <!--									</div>-->
    <!--								</div>-->
    <!--								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
    <!--									<div class="stats">-->
    <!--										<span id="companies">0</span>-->
    <!--										<h5>Companies</h5>-->
    <!--									</div>-->
    <!--								</div>-->
    <!--								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
    <!--									<div class="stats">-->
    <!--										<span id="members">0</span>-->
    <!--										<h5>Members</h5>-->
    <!--									</div>-->
    <!--								</div>-->
    <!--							</div>-->
    <!--						</div>-->
    <!--					</div>-->
    <!--				</div>-->
    <!--			</div>-->
    <!--		</div>-->
    <!--	</section>-->


    <section>
        <div class="block no-padding">
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="simple-text">
                            <h3>How may we help you?</h3>
                            <span>We're here to help. Check out our <a href="/faq">FAQs</a>, send us an email at <a
                                    href="/faq" id="adabraka-email">email</a> or call us at  <a href="#" id="comp-tel">(800) 555-5555</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="social-links">
                            <a class="fb-color" href="#" id="facebook" title=""><i class="fa fa-facebook"></i> Facebook</a>
                            <a class="tw-color" href="#" id="twitter" title=""><i class="fa fa-twitter"></i> Twitter</a>
                            <a class="in-color" href="#" id="instagram" title=""><i class="fa fa-instagram"></i>
                                Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="site-footer" style="margin-top:40px">
        <div th:insert="footer-1 :: footer"></div>
    </footer>

</div>

<div class="account-popup-area signin-popup-box">
    <div class="account-popup">
        <span class="close-popup"><i class="la la-close"></i></span>
        <h3>User Login</h3>

        <div class="select-user">

        </div>
        <form autocomplete="on" class="tab-pane active col-12 p-a0 " id="tggl" method='POST'
              name='f' th:action="@{/j_spring_security_check}">
            <div class="cfield">
                <input name='username' placeholder="Username" required="required" type="text"/>
                <i class="la la-user"></i>
            </div>
            <div class="cfield">
                <input name="password" placeholder="********" type="password"/>
                <i class="la la-key"></i>
            </div>
            <p class="remember-label">
                <input id="cb1" name="rememberme" type="checkbox"><label for="cb1">Remember me</label>
            </p>

            <a class="white-text forget-pass pull-right m-t15" data-toggle="tab" href="#forgot-password"><i
                    class="fa fa-unlock-alt"></i> Forgot Password?</a>
            <button type="submit">Login</button>
        </form>

        <form action="#" class="tab-pane col-12 p-a0" id="forgot-password" method="post" role="form"
              th:action="@{/forgot}">

            <p>We will send you an email to reset your password. </p>
            <div class="cfield">
                <input id="form23" name="email" placeholder="Your email" required="required" type="text">
                <i class="la la-envelope"></i>
            </div>

            <div class="text-left">
                <a class="btn-link back" data-toggle="tab" href="#login">Back to login</a>
                <button class="btn btn-indigo btn-rounded pull-right">Submit</button>
            </div>

        </form>

    </div>
</div>


<script src="/js/job/category-jobs.js"></script>
<script src="/js/job/control-job-application.js"></script>


<script data-cfasync="false" src="css/job/email-decode.min.js"></script>
<script src="/js/job/jquery.min.js"></script>

<script src="/js/job/modernizr.js"></script>
<script src="/js/job/cript.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
<script src="/js/job/wow.min.js"></script>
<script src="/js/job/slick.min.js"></script>
<script src="/js/job/parallax.js"></script>
<script src="/js/job/select-chosen.js"></script>

<script src="/js/jquery.lazy.min.js"></script>
<script src="/js/sweetAlert.js"></script>
<script src="/js/notify.min.js"></script>
<div th:insert="login-template :: login"></div>
<script src="/js/login.js"></script>
<script src="/js/registration.js"></script>
<script src="/js/statistics.js"></script>
<script src="/js/index.js"></script>

</body>
</html>

