<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<div th:fragment="side-menu" th:remove="tag">
    <ul>
        <li><a href="candidates_profile.html" title=""><i class="la la-file-text"></i>My Profile</a></li>
        <li><a href="candidates_my_resume.html" title=""><i class="la la-briefcase"></i>My Resume</a></li>
        <li><a href="candidates_shortlist.html" title=""><i class="la la-money"></i>Shorlisted Job</a></li>
        <li><a href="candidates_applied_jobs.html" title=""><i class="la la-paper-plane"></i>Applied Job</a></li>
        <li><a href="candidates_job_alert.html" title=""><i class="la la-user"></i>Job Alerts</a></li>
        <li><a href="candidates_cv_cover_letter.html" title=""><i class="la la-file-text"></i>Cv & Cover Letter</a></li>
        <li><a href="candidates_change_password.html" title=""><i class="la la-flash"></i>Change Password</a></li>
        <li><a href="#" title=""><i class="la la-unlink"></i>Logout</a></li>
    </ul>
</div>
</body>
</html>
